<div class="Main-panel" *transloco="let trans">
  <div class="all-content">
    <div class="header">
      {{trans('DisplaySearch')}} "{{valueSearch}}"
    </div>
    <div class="body">
      <div class="header-body">
        <div class="first-header" (click)="ChangeActive(1)">
          <label [style.font-weight]="active ===1 ? 700:400">{{trans('Tasks')}}</label>
          <div class="separator" [style.border-top-color]="active===1? 'black':'#ddd'"
               [style.border-bottom-color]="active===1? 'black':'#fff'"></div>
        </div>
        <div class="second-header" (click)="ChangeActive(2)">
          <label [style.font-weight]="active ===2 ? 700:400">{{trans('Comments')}}</label>
          <div class="separator" [style.border-top-color]="active===2? 'black':'#ddd'"
               [style.border-bottom-color]="active===2? 'black':'#fff'"></div>
        </div>
      </div>
      <div class="DisplayData">
        <div class="tasks-tab" *ngIf="active === 1">
          <div class="search-result" *ngFor="let result of DataTask">
            <div class="checkZoneLeft">
              <div class="circle-finished-box" (mouseenter)="enterCheckAnimation(result.taskid)"
                   (mouseleave)="leaveCheckAnimation()">
                <i class="bi bi-check-lg checkbox" (click)="TaskFinishedOverDue(result.taskid)"
                   *ngIf="checkfinished===true && locationcheckFinished=== result.taskid"></i>
              </div>
            </div>
            <div class="Search-data">
              <div class="Title">{{result.title}}</div>
              <div class="description" *ngIf="result.description !== null">{{result.description}}</div>
            </div>
            <div class="bottom-right" *ngIf="result.titleChannel !== null">
              <div class="belong">
                <i class="bi bi-inbox-fill ColorInbox" *ngIf="result.colorSpecs === '#5297ff'"></i>
                <div class="color-circle" *ngIf="result.colorSpecs !== '#5297ff'"
                     [style.background-color]="result.colorSpecs"></div>
                <div class="label-title-channel" [style.color]="result.colorSpecs">{{result.titleChannel}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="comments-tab" *ngIf="active === 2">
          <div class="result-comment-tab" *ngFor="let data of DataComment">
            <div class="User-post">
              <img src="{{userPost.image}}" class="small-avatar">
              <label class="namePost">{{userPost.username}}</label>
              <div class="time-created">{{data.timePost}}</div>
            </div>
            <div class="comment-display">
              <div class="Content-comment" *ngFor="let comment of data.comments">
                <div class="content">{{comment.comment}}</div>
                <div class="timePost">{{comment.create.slice(11, 16)}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
