.Main-panel {
  height: 100%;
}

.all-content {
  padding-top: 28px;
  max-width: 800px;
  text-align: center;
  width: 100%;
  display: inline-block;
}

.header {
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  padding: 28px 0;
}

.separator {
  margin-top: 10px;
  margin-bottom: 20px;
  height: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  position: relative;
}

.first-header, .second-header {
  width: 50%;
  font-size: 18px;
}

.header-body {
  display: block ruby;
}

.User-post {
  display: block ruby;
}

.small-avatar {
  border-radius: 50%;
  border: 1px #202020 solid;
  height: 32px;
  width: 32px;
  max-height: 32px;
  max-width: 32px;
  margin-right: 8px;
}

.namePost {
  font-size: 18px;
  font-weight: 500;
}

.time-created, .timePost {
  color: #72767d;
}

.time-created {
  margin: 10px 5px;
  font-size: 13px;
}

.timePost {
  width: 6%;
  display: none;
}

.Content-comment {
  display: flex;
}

.content {
  word-wrap: break-word;
  width: 94%;
}

.comments-tab {
  text-align: left;
}


.Title, .description {
  word-wrap: break-word;
  inline-size: 600px;
}

.Title {
  font-size: 16px;
  font-weight: 500;
}

.bottom-right {
  width: 170px;
}
.belong {
  display: block ruby;
  text-align: right;
}
.ColorInbox {
  color: #5297ff;
  font-size: 16px;
  margin: 0 8px;
}

.color-circle {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin: 0 5px;
  display: inline-block;
}

.Search-data {
  text-align: left;
}

.search-result {
  display: ruby block;
  margin: 8px 0;
}

.checkZoneLeft {
  width: 30px;
  min-width: 26px;
  float: left;
}

.circle-finished-box, .circle-add-task {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  margin: 0 5px;
}

.circle-finished-box {
  border: 1px solid;
  color: grey;
}

.circle-finished-box:hover {
  background-color: hsla(0, 0%, 50.2%, .2);
}

.checkbox {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 12px;
  height: 14px;
}
