<div *transloco="let trans" role="dialog" class="main-frame-dialog">
  <div class="modal-dialog" role="document">
    <!-- Modal content-->
    <div class="modal-content">
      <!-- Model Body-->
      <div class="modal-body">
        <img data-[src]="preview.viewImage" class="swiper-lazy">
      </div>
      <!-- Model Bottom-->
      <div class="modal-bottom">
        <div class="float-right">
          <button mat-button (click)="openOrigin()">{{trans('DetailImage')}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
