.modal-content {
  width: 100%;
  max-height: 960px;
  background-color: #000000;
}

.modal-bottom {
  margin: 10px;
}

.modal-body {
  height: 100%;
  min-height: 100px;
  max-height: 100%;
  overflow-y: auto;
  text-align: center;
}

.modal-dialog {
  max-width: 1200px;
}

.main-frame-dialog {
  height: 100%;
}
.float-right {
  color: white;
  font-size: 18px;
}
