
.header-today {
  position: sticky;
  top: 0;
  z-index: 2;
  display: inline-block;
  padding-top: 32px;
  width: 100%;
  padding-left: 55px;
  padding-right: 55px;
  background-color: white;
}

.custom-small-toolbar {
  background-color: white;
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
}

.header-custom {
  width: 100%;
  padding-left: 20px;
  height: inherit;
}

.left-title {
  float: left;
}

.big-Default {
  font-size: 25px;
  font-weight: 700;
  line-height: 25px;
}

.header-month, .header-day {
  padding: 0 2px;
  color: grey;
  font-size: 12px;
  font-weight: 400;
}

.header-W {
  padding: 0 2px 0 10px;
  color: grey;
  font-size: 12px;
  font-weight: 400;
}

.custom-dayRoll {
  padding-top: 28px;
  max-width: 800px;
  text-align: center;
  width: 100%;
  display: inline-block;
}

.head-day-task {
  font-size: 18px;
  float: left;
  font-weight: 500;
}

.separator_title_task {
  margin-bottom: 20px;
  height: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  position: relative;
}

.separator_menu_project {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  position: relative;
}

.separator_add_section {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  position: relative;
}

.add-task {
  text-align: start;
  color: grey;
}

.add-task-style-text {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px
}

.content-project {
  padding-top: 28px;
  text-align: center;
  width: 90%;
  min-width: 800px;
  display: inline-block;
}

.All-Task, .All-OnGoing-Task {
  text-align: left;
  height: fit-content;
  margin: 5px 0;
}

.circle-finished-box, .circle-add-task {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  margin: 0 5px;
}

.circle-finished-box {
  border: 1px solid;
  color: grey;
}

.circle-finished-box:hover {
  background-color: hsla(0, 0%, 50.2%, .2);
}

.checkZoneLeft {
  width: 30px;
  min-width: 26px;
  float: left;
}


.taskShowtitle, .taskShowDescription {
  max-width: 100%;
  width: fit-content;
  inline-size: 100%;
  overflow-wrap: break-word;
}

.taskShowtitle {
  font-size: 16px;
}

.taskShowDescription {
  font-size: 12px;
  color: grey;
}

.All-Task, .All-OnGoing-Task {
  display: ruby block;
}

.checkbox {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 12px;
  height: 14px;
}

.right-task, .right-section {
  float: right;
}

.first-icon-task, .second-icon-task, .third-icon-task {
  margin: 0 8px;
  font-size: 19px;
  color: slategrey;
}

.first-icon-task:hover, .second-icon-task:hover, .third-icon-task:hover {
  color: black;
}

.right-title {
  float: right;
  display: flex;
}

.more-option {
  padding: 5px;
}

.comment-text {
  padding: 0 5px 0 10px;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Apple Color Emoji, Helvetica,
  Arial, sans-serif, Segoe UI Emoji, Segoe UI Symbol;
  font-weight: 600;
  display: table-cell;
  vertical-align: middle;
}

.comment-button {
  display: table;
  margin-right: 10px;
}

.button-dropbox {
  border: 0;
  padding: 0;
  background-color: white;
  border-radius: 5px;
}

.button-dropbox:hover {
  background-color: #fafafa;
}

.display-dropbox {
  display: none;
  transition-duration: 0.5s;
}

.menu-dropbox-project, .menu-dropbox-section, .menu-dropbox-section-delete {
  line-height: 24px;
  max-height: 28px;
  height: 28px;
}

.middle_separator {
  color: black;
  font-size: 13px;
  top: -9px;
  left: 41%;
  position: absolute;
  padding: 0 16px;
  background: #fff;
  text-shadow: 0 1px 0 #fff;
  text-transform: uppercase;
}

.Section_add_zone {
  max-width: 800px;
  padding: 8px 0;
  text-align: center;
  width: 100%;
  display: inline-block;
}

.header-section {
  display: flow-root;
  padding: 5px 0;
}

.title-section {
  font-size: 16px;
  float: left;
  font-weight: 600;
  margin-left: 15px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Apple Color Emoji,
  Helvetica, Arial, sans-serif, Segoe UI Emoji, Segoe UI Symbol;
}

.more-option-section {
  font-size: 16px;
  float: right;
}

.menu-dropbox-section-delete:hover {
  color: red;
}

.circle-add-task {
  text-align: center;
}

.plus-add-task {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 16px;
  height: 16px;
}

.zone-left {
  width: 30px;
  text-align: center;
  float: left;
}

.date-label {
  margin-left: 5px;
}

.date-text {
  font-size: 13px;
}

.style-label-menu-dropbox {
  font-size: 15px;
  padding-left: 8px;
}

.Select-Priority {
  display: flex;
}

.label-menu-item-header, .Select-Priority {
  line-height: 18px;
}

.first-Priority, .second-Priority, .third-Priority, .normal-Priority {
  font-size: 16px;
  margin: 5px;
  line-height: 24px;
  padding: 0 8px;
  height: max-content;
}

.first-Priority {
  color: #de4c4a;
}

.second-Priority {
  color: #f49c18;
}

.third-Priority {
  color: #4073d6;
}

.label-menu-item-header {
  margin: 0 15px;
  font-weight: 500;
}

.section-Priority {
  margin-top: 10px;
  margin-bottom: 10px;
}

.task-style {
  display: flex;
  width: 100%;
}

.task-detail {
  width: 100%;
}

.top-right-task {
  width: 100%;
  display: flex;
  text-align: end;
}

.button-add-task {
  width: fit-content;
  border-radius: 5px;
}
