<div class="display-data" *transloco="let trans">
  <div class="header-today">
    <mat-toolbar class="custom-small-toolbar">
      <div class="header-custom">
        <div class="left-title">
          <span class="big-Default">{{this.Displaytitle}}</span>
        </div>
        <div class="right-title">
          <div class="comment-button" matTooltip="Comments" (click)="openAddComment()">
            <i class="bi bi-chat-left-text"></i>
            <span class="comment-text">{{trans('Comments')}}</span>
          </div>
          <button class="button-dropbox" [matMenuTriggerFor]="moreActionProject">
            <i class="bi bi-three-dots more-option" matTooltip="Open More Project Action"></i>
          </button>
          <mat-menu class="display-dropbox" #moreActionProject="matMenu">
            <button class="menu-dropbox-project" mat-menu-item (click)="clickAddSection()">
              <span class="style-label-menu-dropbox">{{trans('AddSection')}}</span>
            </button>
            <div class="separator_menu_project"></div>
            <button class="menu-dropbox-project" mat-menu-item>
              <span class="style-label-menu-dropbox">{{trans('CompleteTask')}}</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </mat-toolbar>
  </div>
  <div class="content-project">
    <div *ngFor="let listTitle of displayListTask; index as indexTitle">
      <div [hidden]="listTitle.title === ''"
           [style.background-color]="indexTitle > 0 ? randomBackgroundResult[indexTitle-1]:''">
        <div class="header-section" id="{{listTitle.sectionid}}">
          <div class="title-section">{{listTitle.title}}</div>
          <div class="right-section">
            <i class="bi bi-three-dots more-option-section" matTooltip="More Task Action"
               [matMenuTriggerFor]="menuSection" [matTooltipShowDelay]="900"></i>
            <mat-menu class="display-dropbox" #menuSection="matMenu">
              <button class="menu-dropbox-section" mat-menu-item>
                <span class="style-label-menu-dropbox">{{trans('menuEditSection')}}</span>
              </button>
              <div class="separator_menu_project"></div>
              <button class="menu-dropbox-section-delete" mat-menu-item
                      (click)="DeleteSection(listTitle.sectionid,indexTitle)">
                <span class="style-label-menu-dropbox">{{trans('menuDeleteSection')}}</span>
              </button>
            </mat-menu>
          </div>
        </div>
        <div class="separator separator_title_task"></div>
      </div>
      <div class="All-Task" *ngFor="let listTask of listTitle.listtask;  index as i">
        <div class="task-style" *ngIf="!(LocationSelect == i && SectionSelect == indexTitle)">
          <div class="checkZoneLeft">
            <div class="circle-finished-box" (mouseenter)="enterCheckAnimation(listTask.task.taskid)"
                 (mouseleave)="leaveCheckAnimation()">
              <i class="bi bi-check-lg checkbox" (click)="TaskFinishedOverDue(i,indexTitle,listTask.task.taskid)"
                 *ngIf="checkfinished===true && locationcheckFinished=== listTask.task.taskid"></i>
            </div>
          </div>
          <div class="task-detail" (click)="MoreDetail(indexTitle,i)">
            <div class="taskShowtitle">{{listTask.task.title}}</div>
            <div class="taskShowDescription">{{listTask.task.description}}</div>
            <div class="date-text" [style.color]="listTask.overdue === true ? '#de4c4a':'#228B22'">
              <i class="bi bi-calendar2"></i>
              <label class="date-label">{{listTask.task.date.substring(4, 11)}}</label>
            </div>
          </div>
          <div class="right-task">
            <div class="top-right-task">
              <i class="bi bi-pencil-square first-icon-task" (click)="SelectEdits(i,indexTitle)"
                 matTooltip="{{trans('HintEditTasks')}}"
                 [matTooltipShowDelay]="900"></i>
              <i class="bi bi-eye-fill second-icon-task" matTooltip="{{trans('HintSeeDetail')}}"
                 (click)="MoreDetail(indexTitle,i)" [matTooltipShowDelay]="900"></i>
              <i class="bi bi-three-dots third-icon-task" matTooltip="{{trans('HintMoreAction')}}"
                 [matTooltipShowDelay]="900"
                 [matMenuTriggerFor]="MoreAction"></i>
            </div>
          </div>
          <mat-menu #MoreAction="matMenu">
            <button class="menu-dropbox" mat-menu-item (click)="SelectEdits(i,indexTitle)">
              <i class="bi bi-archive icon-dropdown"></i>
              <span class="style-label-menu-dropbox">{{trans('ButtonEdits')}}</span>
            </button>
            <button class="menu-dropbox" mat-menu-item (click)="PinnedTask(listTask.task.taskid)">
              <i class="bi bi-pin icon-dropdown"></i>
              <span class="style-label-menu-dropbox">{{trans('ButtonPinned')}}</span>
            </button>
            <div class="section-Priority">
              <div class="label-menu-item-header">{{trans('Priority')}}</div>
              <div class="Select-Priority">
                <button mat-menu-item class="first-Priority" (click)="ChangePriority(listTask.task.taskid,4)">
                  <i class="bi bi-flag-fill"></i>
                </button>
                <button mat-menu-item class="second-Priority" (click)="ChangePriority(listTask.task.taskid,3)">
                  <i class="bi bi-flag-fill"></i>
                </button>
                <button class="third-Priority" mat-menu-item (click)="ChangePriority(listTask.task.taskid,2)">
                  <i class="bi bi-flag-fill"></i>
                </button>
                <button class="normal-Priority" mat-menu-item (click)="ChangePriority(listTask.task.taskid,0)">
                  <i class="bi bi-flag"></i>
                </button>
              </div>
            </div>
            <button class="menu-dropbox delete" mat-menu-item (click)="DeletedTask(listTask.task.taskid)">
              <i class="bi bi-trash2 icon-dropdown"></i>
              <span class="style-label-menu-dropbox">{{trans('ButtonDeleted')}}</span>
            </button>
          </mat-menu>
        </div>
        <app-addtask *ngIf="LocationSelect == i && SectionSelect== indexTitle" [currentSection]="listTitle.sectionid"
                     [currentProject]="this.Displaytitle" [currentSectionName]="listTitle.title"
                     [exitsTask]="DataSelect" [suggestOption]="true"
                     [colorProject]="colorChannel" [flagModal]="false">{{trans('Open')}}
        </app-addtask>
      </div>
      <div class="add-task" [hidden]="hideflag" (click)="openDataAddTask(indexTitle)"
           (mouseenter)="enterAddTask(indexTitle)" (mouseleave)="outAddTask()">
        <div class="button-add-task" [style.background-color]="locationMouseTask === indexTitle ? '#E60023':'white'"
         [style.padding]="locationMouseTask === indexTitle ? '5px 0':'0'">
          <div class="zone-left">
            <div class="circle-add-task"
                 [style.background-color]="'white'">
              <i class="bi bi-plus-lg plus-add-task"
                 [style.color]="'#E60023'"></i>
            </div>
          </div>
          <span class="add-task-style-text"
                [style.color]="locationMouseTask === indexTitle ? 'white':'grey'">{{trans('ButtonAddTask')}}</span>
        </div>
      </div>
      <app-addtask *ngIf="hideflag && locationAddTask === indexTitle" [currentSection]="listTitle.sectionid"
                   [currentProject]="this.Displaytitle" [currentSectionName]="listTitle.title" [suggestOption]="true"
                   [colorProject]="colorChannel" [flagModal]="false">{{trans('Open')}}
      </app-addtask>
      <div class="Section_add_zone" (mouseenter)="enterSection(indexTitle)" (mouseleave)="leaveSection()"
           (click)="showSection(indexTitle)">
        <div class="separator separator_add_section" [hidden]="checkShowSection(indexTitle)">
          <div class="middle_separator">{{trans('AddSection')}}</div>
        </div>
      </div>
      <app-addsection *ngIf="AddSection ===true && locationSection === indexTitle"></app-addsection>
    </div>
  </div>
</div>
