/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~bootstrap/dist/css/bootstrap.css";

@import 'swiper/swiper.min.css';
@import "~swiper/modules/pagination/pagination.min.css";
@import "~swiper/modules/navigation/navigation.min.css";
@import "~swiper/modules/lazy/lazy.min.css";

html, body {
  padding: 0;
  height: 100%;
  background-color: #fafafa;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-card:not([class*="mat-elevation-z"]) {
  box-shadow: none;
}

.mat-card {
  border-radius: 0 !important;
}

.mat-dialog-container {
  box-shadow: none !important;
  background: none !important;
}
