<!-- Modal -->
<div class="modal-server-add" role="dialog" *transloco="let trans">
  <div class="modal-dialog" role="document">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <h3 class="modal-title">{{trans('EditsProject')}}</h3>
        <div class="separator"></div>
        <div class="modal-set-channel">
          <div class="font-dark">
            <label class="from-note">{{trans('NameProject')}}</label>
            <label class="add-new-project">
              <input class="input-add-new-project" type="text" name="nameServer" [(ngModel)]="nameProject">
            </label>
          </div>
          <div class="dropdownColor">
            <label class="ColorSelected">{{trans('ColorProject')}}</label>
            <button class="btn dropdown-toggle range-dropdown" type="button" data-bs-toggle="dropdown"
                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="color-circle" [style.background-color]="this.colorProject.color"></div>
              {{this.colorProject.namecolor}}
            </button>
            <div class="dropdown-menu width-menu-dropdown" aria-labelledby="dropdownMenuButton">
              <button class="color-selected dropdown-item" type="button" *ngFor="let colorData of userTestStatus"
                      (click)="saveColorSelected(colorData)">
                <div class="color-circle" [style.background-color]="colorData.color"></div>
                <div class="name-color">{{colorData.namecolor}}</div>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer footer-modal-light">
        <button class="btn btn-light" (click)="onCloseClick()">{{trans('ButtonCancel')}}</button>
        <button type="submit" class="btn btn-dark" (click)="editProject()">
          {{trans('ButtonEdits')}}
        </button>
      </div>
    </div>
  </div>
</div>
