<div class="main-theme" *transloco="let trans">
  <mat-toolbar class="main-toolbar">
    <mat-toolbar-row>
      <div class="show-option">
        <div class="left-side">
          <label class="font-logo">Scheduled-Task</label>
          <button class="Choose-navigation" mat-button>{{trans('Document')}}</button>
        </div>
        <div class="right-side extra-custom">
          <mat-form-field class="custom-font-select" appearance="legacy">
            <mat-select [(value)]="selected">
              <mat-option value="en" (click)="ChangeLanguage()">{{trans('English')}}</mat-option>
              <mat-option value="vi" (click)="ChangeLanguage()">{{trans('Vietnamese')}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="right-side">
          <button class="Choose-navigation" mat-button routerLink="/login">{{trans('Login')}}</button>
          <button class="Choose-navigation" mat-button routerLink="/signup">{{trans('signup')}}</button>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="main-frame">
    <div class="main-intro">
      <div class="font-intro">{{trans('Intro')}}</div>
      <button mat-button class="intro-button">{{trans('ButtonIntro')}}</button>
    </div>
    <img class="main-image" src="assets/image/header.webp" alt="{{trans('imageIntro')}}">
  </div>
</div>
