.show-option {
  text-align: center;
  max-width: 1088px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.right-side {
  float: right;
  height: 100%;
}

.left-side {
  float: left;
  height: 100%;
}

.Choose-navigation {
  font-size: 18px;
  color: #605c5b;
  height: 100%;
}

.Choose-navigation:hover {
  border-bottom: 3px solid #e44232;
}

.main-frame {
  inline-size: 90%;
  max-inline-size: 1256px;
  display: block;
  margin: 0 auto;
  position: relative;
}

.main-image {
  position: inherit;
  top: 0;
  max-inline-size: 1256px;
}

.main-theme {
  background-color: white;
}

.main-intro {
  text-align: center;
  position: absolute;
  z-index: 2;
  right: 0;
  left: 0;
  top: 128px;
}

.font-intro {
  font-size: 50px;
  font-weight: 600;
  line-height: 46px;
}

.intro-button {
  margin-top: 15px;
  background-color: #e44232;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.custom-font-select {
  color: #13830C;
  font-weight: bold;
}

.extra-custom {
  margin-left: 10px;
}

.font-logo {
  font-size: 26px;
  font-weight: bold;
  background: -webkit-linear-gradient(45deg, #00ff95, #09009f 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
