<div role="dialog" *transloco="let tran">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" [style.background-color]="backgroundRandom">
        <h3 class="modal-title">{{tran('username')}}</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closingDialog()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <label class="error-message">{{messageError}}</label>
        </div>
        <div class="old-password">
          <label class="Password-label">{{tran('CurrentPassword')}}</label>
          <input class="input-password" type="password" [(ngModel)]="OldPassword">
        </div>
        <div class="new-password">
          <label class="Password-label">{{tran('NewPassword')}}</label>
          <input class="input-password" type="password" [(ngModel)]="password">
        </div>
        <div class="confirm-password">
          <label class="Password-label">{{tran('passwordConfirm')}}</label>
          <input class="input-password" type="password" [(ngModel)]="confirm">
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" mat-flat-button (click)="ConfirmChange()">{{tran('buttonSaveChange')}}</button>
        <button mat-flat-button (click)="closingDialog()">{{tran('ButtonCancel')}}</button>
      </div>
    </div>
  </div>
</div>
