.old-password, .new-password,.confirm-password {
  display: grid;
  padding: 5px 8px;
}

.password-label {
  font-size: 16px;
  font-weight: 500;
}

.input-password {
  font-size: 18px;
  border-color: #4f545c;
  padding: 5px;
  border-radius: 5px;
}

.error-message {
  font-size: 16px;
  font-weight: 450;
  color: red;
  padding-left: 8px;
  padding-right: 8px;
}
