<div role="dialog" *transloco="let tran">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" [style.background-color]="backgroundRandom">
        <h3 class="modal-title">{{tran('username')}}</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closingDialog()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <label class="error-message">{{messageError}}</label>
        </div>
        <div class="old-username">
          <label class="username-label">Old Username</label>
          <input class="input-username" type="text" [(ngModel)]="defaultUsername">
        </div>
        <div class="new-username">
          <label class="username-label">New Username</label>
          <input class="input-username" type="text" [(ngModel)]="newUsername">
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" mat-flat-button (click)="ConfirmChange()">{{tran('buttonSaveChange')}}</button>
        <button mat-flat-button (click)="closingDialog()">{{tran('ButtonCancel')}}</button>
      </div>
    </div>
  </div>
</div>
