.custom-small-toolbar {
  background-color: white;
  display: inline-block;
  max-width: 800px;
  padding-left: 0;
  padding-right: 0;
}

.color-description {
  color: #0000006b;
}

.main-frame-add {
  width: 800px;
  border: 1px solid #d6d6d6;
  background-color: white;
}

.title-time {
  width: 780px;
  border: 0;
  resize: none;
  font-size: 14px;
}

.title-time:focus {
  outline: none;
}

.description-text, .description-full-width {
  width: 780px;
}

.description-full-width {
  background-color: white;
}

.main-frame-add {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.description-text {
  border: 0;
  resize: none;
  text-align: left;
}

.description-text:focus {
  outline: none;
}

.Bottom-addtask {
  width: 100%;
}

.total-add-task {
  min-width: 800px;
  width: 100%;
}

.Bottom-add-task {
  text-align: left;
}

.add-task, .cancel-task {
  margin: 0 5px 0 10px;
}

.cancel-task {
  border-color: #d6d6d6;
}

.cancel-task:hover {
  background-color: #d6d6d6;
  outline: none;
}

.cancel-task:focus {
  outline: none;
}

.Bottom-form-add {
  width: 100%;
  max-height: 40px;
  min-height: 40px;
  margin: 5px 0;
}

.left-bottom-form-add {
  float: left;
  margin: 0 5px;
}

.DayColor, .InboxColor {
  font-size: 13px;
  margin: 0 5px;
  background-color: #ffffff;
}

.DayColor:hover, .InboxColor:hover {
  background-color: #f8f9fa;
}

.DayColor {
  color: #058527;
}

.ColorInbox {
  color: #5297ff;
}

.box-button-label {
  padding: 0 5px;
  font-weight: 450;
}

.hidden-place {
  height: 0;
}

.null-input {
  width: 0;
  padding: 0;
  border: 0;
}

.datepicker-footer {
  width: 100%;
  padding: 0 1.125rem 1.125rem 1.125rem;
  display: inline-block;
  box-sizing: border-box;
  justify-content: space-between;
}

.AddTimeDate {
  color: black;
  font-size: 13px;
}

.separator {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  position: relative;
}

.Input-time-field {
  float: right;
}

.First-bottom-line {
  margin: 5px 0;
  height: max-content;
  display: ruby-base;
}

.Second-bottom-line {
  height: max-content;
  width: 100%;
  margin: 5px 0;
}

.setTime {
  border-radius: 5px
}

.cancel-add-task {
  float: left;
}

.save-task {
  float: right;
}

.dropdown-toggle::after {
  content: none;
}

.dropdown-item {
  padding: 0.25rem 10px;
}

.sub-section {
  padding: 0.25rem 10px 0.25rem 25px;
}

.color-circle {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin: 0 5px;
}

.color-selected {
  min-width: 100px;
  width: 100%;
  display: ruby-base;
  text-align: left;
  margin: 0;
}

.icon-select {
  margin: 0 1px;
}

.current-group {
  float: right;
  color: #de4c4a;
}

.width-menu-dropdown {
  height: 162px;
  overflow-y: auto;
  scrollbar-width: thin;
  width: 240px;
}

.width-menu-dropdown::-webkit-scrollbar {
  width: 5px;
}

.color-add-Section {
  display: inherit;
}

.word-select {
  max-width: 798px;
  display: flex;
  flex-wrap: wrap;
}

.detail-word {
  margin: 3px 10px;
  padding: 3px 8px;
  background-color: #FF6868;
  border-radius: 30px;
  font-size: 16px;
}

.style-button-remove {
  padding-left: 0;
  padding-right: 0;
  min-width: 15px;
  min-height: 100%;
}

.custom-drop-select {
  display: grid;
  height: 200px;
}

.select-option-notifi {
  width: 100%;
}

.button-save {
  margin: 0 5px;
}

.button-cancel {
  float: right;
  margin: 0 5px;
}

.label-center {
  text-align: center;
  padding-bottom: 10px;
  font-weight: bold;
  width: 280px;
}
.option-notification,.duration-notification {
  padding: 5px 0;
}
