<div class="total-add-task" *transloco="let trans">
  <div class="main-frame-add">
    <div class="Header-add-task">
      <mat-toolbar class="custom-small-toolbar">
        <div class="word-select">
          <div class="detail-word" *ngFor="let words of listHighlightTexts; index as i">{{words}}
            <button mat-button (click)="RemoveIndex(i)" class="style-button-remove"><i class="bi bi-x"></i></button>
          </div>
        </div>
        <label>
          <textarea id="title" class="title-time" rows="1"
                    [(ngModel)]="textareatitle" (keydown)="checkIfWordBackspace($event)"
                    placeholder="{{trans('HintTitleTask')}}"
                    (keyup)="autogrowtitle()" [maxLength]="remainingtitleWords"></textarea>
        </label>
      </mat-toolbar>
    </div>
    <div class="Description">
      <label>
      <textarea id="description" matInput rows="3" class="description-text" placeholder="{{trans('HintDescription')}}"
                (keyup)=autogrow() [(ngModel)]="textareaDescription" [maxLength]="remainingDescriptionWords"></textarea>
      </label>
    </div>
    <div class="Bottom-form-add">
      <div class="left-bottom-form-add">
        <mat-datepicker #pickerDate (opened)="onOpen()" (closed)="onClose()"></mat-datepicker>
        <input class="null-input" [matDatepicker]="pickerDate" [(ngModel)]="dateFinishTask"
               placeholder="{{trans('HintChoseDate')}}">
        <div style="display: none">
          <div class="datepicker-footer" #datepickerFooter>
            <div class="separator separator_login_page"></div>
            <button class="btn btn-light AddTimeDate" [hidden]="CheckAddTimeTaskState" (click)="onclickAddTime()">
              <label class="box-button-label">{{trans('AddTime')}}</label>
              <i class="bi bi-plus"></i>
            </button>
            <div class="AddTime" [hidden]="!CheckAddTimeTaskState">
              <div class="First-bottom-line">
                <label>{{trans('TitleSetTime')}}</label>
                <label class="Input-time-field">
                  <input class="SetTime" [(ngModel)]="TimeSetTaskFinish" placeholder="{{trans('HintSetTime')}}">
                </label>
              </div>
              <div class="Second-bottom-line">
                <button class="btn btn-light cancel-add-task"
                        (click)="cancelAddTime()">{{trans('ButtonCancel')}}</button>
                <button class="btn btn-light save-task"
                        (click)="processFinishAddTask(pickerDate)">{{trans('buttonSave')}}</button>
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-light DayColor" [style.color]="DisplayDate.colorDay" (click)="pickerDate.open()">
          <i class="bi bi-calendar"></i>
          <label class="box-button-label">{{DisplayDate.displayDay}}</label>
        </button>
        <button class="btn btn-light InboxColor btn dropdown-toggle range-dropdown" type="button"
                data-bs-toggle="dropdown"
                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="bi bi-inbox-fill ColorInbox" *ngIf="flagInbox"></i>
          <i class="color-circle color-add-Section" *ngIf="!flagInbox" [style.background-color]="colorProject"></i>
          <label class="box-button-label"
                 [style.color]="flagInbox === true ? '#5297ff':'#a970ff'">
            {{(this.DisplayGroup === 'Default Group') ? trans('DefaultGroup') : this.DisplayGroup}}
          </label>

        </button>
        <div class="dropdown-menu width-menu-dropdown" aria-labelledby="dropdownMenuButton">
          <div *ngFor="let group of listgroup">
            <button class="color-selected dropdown-item" type="button"
                    (click)="onSelectGroupSection(group.groupid,group.deSection,group.titleGroup,'',group.icons)">
              <i class="bi bi-inbox-fill icon-select" *ngIf="group.types == typezero" [style.color]="group.icons"></i>
              <div class="color-circle" [style.background-color]="group.icons" *ngIf="group.types != typezero"></div>
              <label
                class="box-button-label">{{(group.titleGroup === 'Default Group') ? trans('DefaultGroup') : group.titleGroup}}</label>
              <i class="bi bi-check-lg current-group" *ngIf="ChannelSelected == group.groupid"></i>
            </button>
            <div [hidden]="!group.childrenSection" *ngFor="let subSection of group.childrenSection">
              <button class="color-selected dropdown-item sub-section" type="button"
                      (click)="onSelectGroupSection(group.groupid,subSection.id,group.titleGroup,subSection.title,group.icons)">
                <i class="bi bi-subtract icon-select"></i>
                <label class="box-button-label">{{subSection.title}}</label>
                <i class="bi bi-check-lg current-group"
                   *ngIf="ChannelSelected == group.groupid && IdSection == subSection.id"></i>
              </button>
            </div>
          </div>
        </div>
        <button class="selectExtraNotify" mat-button [matMenuTriggerFor]="menuSelect">
          {{trans('NotificationOption')}}
        </button>
        <mat-menu #menuSelect="matMenu" class="menu-notification">
          <div class="label-center">
            {{trans('NotificationOption')}}
          </div>
          <div class="option-notification">
            <mat-form-field appearance="fill" class="select-option-notifi" (click)="blockclose($event)">
              <mat-label>{{trans('extraNotifiLabel')}}</mat-label>
              <mat-select [(value)]="optionvalue">
                <mat-option value="-4">{{trans('OptionNone')}}</mat-option>
                <mat-option value="1">{{trans('OptionHour')}}</mat-option>
                <mat-option value="2">{{trans('OptionDay')}}</mat-option>
                <mat-option value="3">{{trans('OptionMonth')}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="duration-notification">
            <mat-form-field class="example-full-width select-option-notifi" appearance="fill"
                            (click)="blockclose($event)">
              <mat-label>{{trans('labelDuration')}}</mat-label>
              <input matInput placeholder="{{trans('hintDuration')}}" [(ngModel)]="numberChooseBefore">
            </mat-form-field>
          </div>
          <div class="bottom">
            <button mat-flat-button color="warn" class="button-save"
                    (click)="SaveNotification()">{{trans('buttonSave')}}</button>
            <button mat-button class="button-cancel" (click)="CancelNotification()">{{trans('ButtonCancel')}}</button>
          </div>
        </mat-menu>
      </div>
    </div>
  </div>
  <div class="Bottom-add-task" *ngIf="!flagModal">
    <button type="button" id="edits-task" class="btn btn-dark add-task" *ngIf="exitsTask != null" (click)="UpdateTask()"
    >{{trans('ButtonEdits')}}</button>
    <button type="button" id="add-task" class="btn btn-dark add-task" *ngIf="exitsTask == null"
            (click)="ConfirmAddTask()">{{trans('buttonSave')}}</button>
    <button type="button" class="btn btn-light cancel-task"
            (click)="CancelStateAddTask()">{{trans('ButtonCancel')}}</button>
  </div>
</div>
