<div *transloco="let tran" role="dialog">
  <div class="modal-dialog" role="document">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" [style.background-color]="backgroundRandom">
        <h3 class="modal-title">{{tran('UserSetting')}}</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closingDialog()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body white-color">
        <div class="Avatar-user-info">
          <img alt="" class="big-avatar" (click)="avatarImage.click()"
               src="{{preViewImage}}" (mouseenter)="movingInAvatar()" (mouseleave)="movingOutAvatar()">
          <div class="label-change-image" (click)="avatarImage.click()"
               [hidden]="!flagHint">{{tran('ChangeAvatar')}}</div>
          <label class="username-value-title">{{username}}</label>
          <input type="file" #avatarImage id="commentImage" class="fileInput" (change)="changeAvatar($event)">
        </div>
        <label class="warning-message" *ngIf="flagError">{{ErrorMessage}}</label>
        <div class="Detail-info">
          <div class="username-info">
            <div class="username-section">
              <label class="username-label">{{tran('username')}}</label>
              <label class="username-value">{{username}}</label>
            </div>
            <div class="right-zone">
              <button mat-button (click)="openEditsUsername()">{{tran('ButtonEdits')}}</button>
            </div>
          </div>
          <div class="email-info">
            <div class="email-section">
              <label class="email-label">EMAIL</label>
              <label class="email-value" type="password">{{email}}</label>
            </div>
            <div class="right-zone">
              <button mat-button>{{tran('ButtonEdits')}}</button>
            </div>
          </div>
        </div>
        <button class="changePassword" mat-button
                (click)="openEditsPassword()">{{tran('buttonChangePassword')}}</button>
        <div class="other-setup">
          <label class="display-label-other-option">{{tran('OtherUserSetting')}}</label>
          <button class="changeBackground" mat-button
                  (click)="backgroundUpload.click()">{{tran('ChangeBackground')}}</button>
          <input type="file" #backgroundUpload class="uploadImageBackground" (change)="ChangeBackground($event)">
          <mat-label class="suggest-image">{{tran('suggestImage')}}</mat-label>
          <mat-form-field class="select-display">
            <mat-label class="select-label-display">{{tran('pieChartChange')}}</mat-label>
            <mat-select [(value)]="selectFirstValue" (valueChange)="ChangeOption()">
              <mat-option *ngFor="let channel of listgroup"
                          value="{{channel.groupid}}">{{channel.titleGroup}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="select-display">
            <mat-label class="select-label-display">{{tran('percentChart')}}</mat-label>
            <mat-select [(value)]="selectSecondValue" (valueChange)="ChangeOption()">
              <mat-option *ngFor="let channel of listgroup"
                          value="{{channel.groupid}}">{{channel.titleGroup}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="modal-footer footer-modal-dark">
        <button type="submit" class="save-change" mat-flat-button [class.active]="flagChange"
                [disabled]="!flagChange" (click)="SaveChangeAvatar()">{{tran('buttonSaveChange')}}</button>
        <button mat-flat-button (click)="closingDialog()">{{tran('ButtonCancel')}}</button>
      </div>
    </div>
  </div>
</div>
