.modal-dialog {
  max-width: 700px;
}

.modal-content {
  border-radius: 15px;
}

.button-edits {
  background-color: #4f545c;
}

.Detail-info {
  background-color: white;
  color: #2f3136;
  padding: 10px 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.white-color {
  background-color: white;
  color: #36393f;
}

.big-avatar {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: 1px #4f545c solid;
  z-index: 1;
  position: sticky;
}

.username-value-title {
  font-size: 22px;
  font-weight: 700;
  margin-left: 8px;
}

.username-info, .email-info {
  display: block ruby;
  min-height: 36px;
}

.username-section, .email-section {
  display: grid;
}

.username-label, .username-value, .email-label, .email-value {
  font-size: 16px;
}

.username-label, .email-label {
  font-weight: 500;
}

.right-zone {
  float: right;
}

.modal-header {
  border-radius: 5px;
}

.changePassword, .changeBackground {
  color: white;
  background-color: #5865f2;
}

.changePassword:hover, .changeBackground:hover {
  background-color: #4752c4;
}

.fileInput {
  display: none;
}

.save-change.active {
  color: white;
  background-color: #5865f2;
}

.save-change.active:hover {
  background-color: #4752c4;
}

.big-avatar:hover {
  background-color: rgba(0, 0, 0, .32);
}

.label-change-image {
  position: absolute;
  top: 69px;
  text-align: center;
  font-weight: bold;
  inline-size: 128px;
}

.other-setup {
  display: grid;
}

.select-display {
  width: 250px;
}

.select-label-display {
  font-size: 16px;
}

.changeBackground {
  width: fit-content;
  max-width: 250px;
  line-break: auto;
}

.display-label-other-option {
  margin: 10px 0;
  font-size: 22px;
  font-weight: bolder;
}

.suggest-image {
  margin: 5px 0;
}

.uploadImageBackground {
  display: none;
}

.warning-message {
  padding: 5px 0;
  color: red;
}
