.color-circle {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  margin: 0 10px;
}

.label-channel {
  padding: 0 10px;
  font-size: 18px;
  font-weight: 500;
}

.modal-header {
  display: grid;
  padding-bottom: 5px;
}

.Title_separator {
  width: 780px;
  padding-top: 11px;
  text-align: center;
  font-weight: bolder;
  font-size: 15px;
}

.modal-dialog {
  height: 90vh;
  max-width: 800px;
}

.modal-content {
  height: 100%;
  width: 800px;
  max-height: 960px;
  min-height: 400px;
}

.project-detail {
  display: block ruby;
}

.modal-body {
  height: 100%;
  min-height: 100px;
  max-height: 100%;
  overflow-y: auto;
}

.bottom-right {
  float: right;
  margin-right: 20px;
  margin-bottom: 5px;
}

.text-comment {
  width: 774px;
  border: 0;
  resize: none;
  font-size: 14px;
  padding: 4px 4px;
}

.small-avatar {
  border-radius: 50%;
  border: 1px #202020 solid;
  height: 32px;
  width: 32px;
  max-height: 32px;
  max-width: 32px;
  margin-right: 8px;
}

.text-comment:focus {
  outline: none;
}

.modal-bottom {
  margin: 10px;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
}

.User-post {
  display: block ruby;
}

.namePost {
  font-size: 18px;
  font-weight: 500;
}

.content {
  word-wrap: break-word;
  width: 94%;
}

.time-created, .timePost {
  color: #72767d;
}

.time-created {
  margin: 10px 5px;
  font-size: 13px;
}

.timePost {
  width: 6%;
}

.content:hover > .timePost {
  display: block;
}

.Content-comment {
  display: flex;
}

.bottom-left {
  float: left;
}

.upload-image {
  font-size: 18px;
}

.custom-left-button {
  min-height: 24px;
  padding: 0 12px;
  min-width: 30px;
  margin: 0 5px;
}

.main-frame-dialog {
  height: 100%;
}

.fileInput {
  display: none;
}

.displayImage-Comment {
  height: 250px;
  display: list-item;
  overflow-x: auto;
}

.testimage {
  width: 305px;
  height: 250px;
}

.image-preview {
  padding: 10px;
}
.delete-comment-button {
  float: right;
}
