<div *transloco="let trans" role="dialog" class="main-frame-dialog">
  <div class="modal-dialog" role="document">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <div class="project-detail">
          <div class="color-circle" [style.background-color]="DisplayColor"></div>
          <label class="label-channel">{{DisplayChannel}}</label>
        </div>
        <div class="Title_separator">{{trans('Comments')}}</div>
      </div>
      <!-- Model Body-->
      <div class="modal-body">
        <div *ngFor="let data of DataComment;index as i">
          <div class="User-post" (mouseenter)="mouseEnterShowButton(i)" (mouseleave)="mouseLeaveButton()">
            <img src="{{userPost.image}}" class="small-avatar" alt="ava">
            <label class="namePost">{{userPost.username}}</label>
            <div class="time-created">{{data.timePost}}</div>
            <button class="delete-comment-button" mat-button *ngIf="location === i && flagButtonDelete=== true"
                    (click)="DeletedComment(data.comments[0].id,i)">
              {{trans('ButtonDeleted')}}</button>
          </div>
          <div class="comment-display">
            <div class="Content-comment" *ngFor="let comment of data.comments"
                 (mouseenter)="mouseEnterShowTime(i)" (mouseleave)="mouseLeaveTime()">
              <div class="content">{{comment.comment}}</div>
              <div class="timePost"
                   *ngIf="location === i && flagShowTime=== true">{{comment.create.slice(11, 16)}}</div>
            </div>
            <div class="Content-image" *ngFor="let image of data.images" (click)="ShowBiggerImage(image)">
              <img src="{{image.thumbshot}}" alt="thumbshotImage">
            </div>
          </div>
        </div>
      </div>
      <!-- Model Bottom-->
      <div class="modal-bottom">
        <div class="displayImage-Comment" *ngIf="PreViewImages.length > 0">
          <div class="image-preview" *ngFor="let image of PreViewImages">
            <img alt="preview" src="{{image}}">
          </div>
        </div>
        <div class="section-new-task">
          <label>
        <textarea id="textComment" class="text-comment" rows="3" [(ngModel)]="textarea"
                  placeholder="{{trans('HintTitleTask')}}"
                  (keyup)="autogrow()"></textarea>
          </label>
          <div class="bottom-left">
            <button mat-button class="custom-left-button" (click)="commentImage.click()">
              <i class="bi bi-paperclip upload-image"></i>
              <input type="file" #commentImage id="commentImage" class="fileInput" (change)="changeFile($event)">
            </button>
          </div>
          <div class="bottom-right" (click)="SaveNewComment()">
            <button mat-flat-button color="warn">{{trans('Comments')}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
