body, .base-view {
  padding: 0;
  background-color: #36393f;
}

.base-view {
  overflow: auto;
  display: flex;
}

.has-error {
  color: red
}

.form-signin {
  max-width: 330px;
  padding: 0;
  margin: 0 auto;
}

.center-container {
  background-color: white;
  width: 400px;
  padding: 40px;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 160px !important;
  margin-bottom: 40px !important;
}

.base-container {
  padding: 0;
  display: flex;
}

.form-heading, .form-signin-heading {
  margin-bottom: 30px;
  font-weight: 700;
  text-align: left;
}

.from-note {
  margin-top: 5px;
  color: black;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  color: #fff;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input {
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background: white;
  border-color: #dddddd;
}

.form-signin button {
  margin-top: 10px;
  background-color: #db4c3f;
  color: #fff;
}

.text-center a, .text-right a {
  color: #677bc4;
  text-decoration: none;
}

.text-right a {
  font-size: 12px;
}

.btn-primary {
  background-color: #677bc4;
  border-color: #677cc4;
}

.btn-primary:hover {
  border-color: #677cc4 !important;
  background-color: #677cc4 !important;
}

.btn-sm {
  margin-left: 10px;
}

.header-color, .header-color-dark {
  font-weight: 500;
  text-align: center;
}

.header-color {
  color: #7289da;
}

.small {
  font-size: 12px;
}


