mat-card {
  margin: 2em auto;
}

mat-form-field {
  display: block;
}

.mat-card {
  background-color: #fafafa;
}

.base-view {
  overflow: auto;
  display: flex;
  padding: 0;
  background-color: #36393f;
}

.has-error {
  color: red
}

.form-signin {
  max-width: 450px;
  padding: 0;
  margin: 0 auto;
}

.center-container {
  background-color: white;
  width: min-content;
  padding: 40px;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 160px !important;
  margin-bottom: 40px !important;
}

.base-container {
  padding: 0;
  display: flex;
}

.reading-data {
  position: relative;
}

.reading-data, .base-container {
  width: 100%;
  height: auto;
}

.form-heading, .form-signin-heading {
  color: black;
  text-align: left;
  font-weight: 700;
  margin-bottom: 30px;
}

.from-note {
  margin-top: 5px;
  color: black;
}

.footer-content, .toolkit {
  background-color: #232629;
  color: #72767d;
}

.toolkit, .list-info {
  height: 40px;
  border-bottom-width: 1px;
  border-bottom-style: ridge;
}

.footer-content {
  position: absolute;
  bottom: 0;
}

.main-footer {
  margin-bottom: 30px;
  padding-top: 20px;
  border-top-width: 1px;
  border-top-style: ridge;
  width: 100%;
}

.form-footer {
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #36393f;
}

.list-info {
  width: 210.467px;
  position: absolute;
}

.home-sever {
  width: 75px;
  height: 100vh;
  background-color: #202225;
  float: left;
}

.home-info {
  width: 240px;
  padding-right: 17px;
  height: 100vh;
  background-color: #292b2f;
  float: left;
  position: relative;
}

.user_img {
  border-radius: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 13px;
  color: black;
  width: 400px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input {
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background: white;
  border-color: #dbdbdb;
}

.form-signin button {
  margin-top: 10px;
  background-color: #db4c3f;
  color: white;
}

.text-center a, .text-right a {
  color: #dd4b39;
  text-decoration: none;
}

.text-center p, .text-right p {
  color: black;
  text-decoration: none;
}

.text-right a {
  font-size: 12px;
}

.btn-primary {
  background-color: #db4c3f;
  border-color: #db4c3f;
  width: 400px;
}

.btn-primary:hover {
  border-color: #C53727 !important;
  background-color: #C53727 !important;
}

.btn-sm {
  margin-left: 10px;
}

.header-color, .header-color-dark {
  font-weight: 500;
  text-align: center;
}

.header-color {
  color: #7289da;
}

.small {
  font-size: 12px;
}

h4 {
  font-size: 13px;
  margin-top: 20px;
}

.separator {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  position: relative;
}

.middle_separator {
  color: #777;
  font-size: 13px;
  top: -9px;
  left: 41%;
  position: absolute;
  padding: 0 16px;
  background: #fff;
  text-shadow: 0 1px 0 #fff;
  text-transform: uppercase;
}

.ErrorConfig {
  width: 16px;
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

.Error_messages {
  display: grid;
}

.Detail_error_message {
  display: flex;
}

.Size_Error_message {
  font-size: 13px;
  margin: 0 5px 0 5px;
}

.prev-step {
  font-size: 13px;
  margin: 10px 0 10px 0;
}

.prev-step:hover {
  background-color: #eeeeee;
  width: max-content;
  border-radius: 5px;
}

.error-log {
  font-size: 14px;
}

.google-icon {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  margin-left: 10px;
}

.button-google-login {
  width: 100%;
  border-radius: 5px;
  border: 1px #dde2e3 solid;
  color: black !important;
  background-color: white !important;
}

.font-google-icon {
  font-weight: bolder;
  font-size: 18px;
  vertical-align: middle;
  margin: 8px 0;
}

.font-logo {
  font-size: 26px;
  font-weight: bold;
  background: -webkit-linear-gradient(45deg, #00ff95, #09009f 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
