<mat-card *transloco="let trans">
  <label class="font-logo" routerLink="">Scheduled-Task</label>
  <mat-card-content>
    <div class="container center-container">
      <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" class="form-signin">
        <div class="step_one">
          <fieldset *ngIf="step ==1">
            <h1 class="form-heading">{{trans('titleSignup')}}</h1>
            <button class="button-google-login" mat-flat-button (click)="signInWithGoogle()" *ngIf="googleuser == null">
              <img class="google-icon" src="assets/image/1534129544.png">
              <label class="font-google-icon">Continue with Google</label>
            </button>
            <div class="separator separator_login_page">
              <div class="middle_separator">{{trans('middle_separator')}}</div>
            </div>
            <div class="Error_messages">
              <mat-error class="Detail_error_message" *ngIf="messages!=null">
                <img class="ErrorConfig" src="assets/extraIcons/exclamation-circle-solid.svg" alt="error">
                <span class="Size_Error_message">{{messages}}</span>
              </mat-error>
              <label class="from-note">Email</label>
            </div>
            <input name="email" type="email" class="form-control" [(ngModel)]="user.email" #username="ngModel"
                   required/>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
              <mat-error>
                <span>{{error}}</span>
              </mat-error>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="button"
                    (click)="next()">{{trans('buttonNextStep')}}</button>
            <div class="separator separator_login_page"></div>
            <h4 class="text-center">
              <p>{{trans('hintLogin')}}
                <a routerLink="/login">{{trans('ToLogin')}}</a>
              </p>
            </h4>
          </fieldset>
        </div>
        <div class="step_two">
          <fieldset *ngIf="step ==2">
            <div class="prev-step" (click)="previous()">
              <i class="bi bi-arrow-bar-left"></i>
              {{user.email}}
            </div>
            <h1 class="form-heading">{{trans('titleSecStep')}}</h1>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
              <mat-error>
                <span>{{messages}}</span>
              </mat-error>
              <label class="from-note">{{trans('username')}}</label>
              <input name="username" type="text" class="form-control" [(ngModel)]="user.username" #username="ngModel"
                     required/>
              <label class="from-note">{{trans('password')}}</label>
              <input name="password" type="password" class="form-control" [(ngModel)]="user.password"
                     #password="ngModel"
                     required/>
              <label class="from-note">{{trans('passwordConfirm')}}</label>
              <input name="passwordConfirm" type="password" class="form-control" [(ngModel)]="user.passwordConfirm"
                     #passwordConfirm="ngModel"
                     required/>
              <mat-error *ngIf="error != null">
                <span class="error-log">{{error}}</span>
              </mat-error>
              <button class="btn btn-lg btn-primary btn-block" type="submit">{{trans('buttonSignUp')}}</button>
              <div class="separator separator_login_page"></div>
              <h4 class="text-center">
                <p>{{trans('hintLogin')}}
                  <a routerLink="/login">{{trans('ToLogin')}}</a>
                </p>
              </h4>
            </div>
          </fieldset>
        </div>
      </form>
    </div>
  </mat-card-content>
</mat-card>
