.color-circle {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin: 0 5px;
}

.range-dropdown, .color-selected {
  width: 100%;
  display: ruby-base;
  text-align: left;
  margin: 10px 0;
}

.width-menu-dropdown {
  width: 466px;
  overflow-y: scroll;
  height: 140px;
}

.add-new-project {
  margin: 10px 0;
}

.input-add-new-project, .add-new-project {
  width: 100%;
}

.footer-modal-light {
  background-color: #e6e6e6;
}

.separator {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  position: relative;
}
