.row-Chart {
  display: flex;
  margin: 20px 0;
}

.FirstChart, .SecondChart {
  width: 50%;
}

.titleChart {
  text-align: center;
  width: 400px;
  float: left;
  font-size: 18px;
  font-weight: bold;
}
