<div class="row-Chart">
  <div class="FirstChart">
    <label class="titleChart">{{firstChartName}}</label>
    <ngx-charts-pie-chart [labels]="true" [scheme]="'neons'" [view]="view"
                          [results]="TaskGroup1"></ngx-charts-pie-chart>
  </div>
  <div class="SecondChart">
    <label class="titleChart">{{secondChartName}}</label>
    <ngx-charts-bar-vertical-stacked [showYAxisLabel]="true" [xAxis]="true" [yAxis]="true" [yAxisLabel]="yAxisLabel"
                                     [scheme]="'vivid'" [view]="view" maxXAxisTickLength="10"
                                     [results]="TaskGroup2"></ngx-charts-bar-vertical-stacked>
  </div>
</div>
