.title-section {
  width: 780px;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  padding: 2px 5px;
  resize: none;
  font-size: 14px;
  min-height: 34px;
}

.title-section:focus {
  outline: none;
}

.add_section, .cancel_section {
  margin: 0 5px 0 10px;
}

.cancel_section {
  border-color: #d6d6d6;
}

.cancel_section:hover {
  background-color: #d6d6d6;
  outline: none;
}

.cancel_section:focus {
  outline: none;
}

.right-bottom {
  text-align: end;
}

.add-section-zone {
  margin: 10px 0;
}
