<div class="add-section-zone" *transloco="let trans">
  <label>
    <textarea id="title" class="title-section" rows="1" placeholder="title section" [(ngModel)]="textareatitle"
              (keyup)=autogrowtitle()
              [maxLength]="remainingtitleWords"></textarea>
  </label>
  <div class="bottom-section">
    <div class="right-bottom">
      <button type="button" class="btn btn-dark add_section"
              (click)="ConfirmStateAddSection()">{{trans('AddSection')}}</button>
      <button type="button" class="btn btn-light cancel_section"
              (click)="CancelStateAddSection()">{{trans(('ButtonCancel'))}}</button>
    </div>
  </div>
</div>
