.modal-dialog {
  max-width: 900px;
  height: 90vh;
}

.modal-body {
  height: 100%;
  min-height: 100px;
  max-height: 100%;
  overflow-y: auto;
}

.checkZoneLeft {
  width: 40px;
  min-width: 26px;
  float: left;
}

.sub-checkZoneLeft {
  width: 30px;
  min-width: 26px;
  float: left;
}

.circle-finished-box {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  margin: 0 5px;
  border: 1px solid;
  color: grey;
}

.circle-finished-box:hover {
  background-color: hsla(0, 0%, 50.2%, .2);
}

.sub-circle-finished-box {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  margin: 0 5px;
  border: 1px solid;
  color: grey;
}

.sub-circle-finished-box:hover {
  background-color: hsla(0, 0%, 50.2%, .2);
}

.sub-task-tab {
  min-height: 200px;
  max-height: 500px;
  overflow-y: auto;
}

.checkbox {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 24px;
  height: 28px;
}

.sub-checkbox {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 12px;
  height: 14px;
}

.taskShowtitle, .taskShowDescription, .taskSubShowTitle, .taskSubShowDescription, .taskSubShowTitleSec, .taskSubShowDescription {
  max-width: 100%;
  width: fit-content;
  inline-size: 600px;
  overflow-wrap: break-word;
}

.taskShowtitle {
  margin: 0;
  font-size: 22px;
}

.taskShowDescription {
  font-size: 16px;
  margin: 0;
  color: grey;
}

.right-task {
  float: right;
}

.first-icon-task, .second-icon-task, .third-icon-task, .clock-icon {
  margin: 0 8px;
  font-size: 16px;
  color: slategrey;
}

.first-icon-task:hover, .second-icon-task:hover, .third-icon-task:hover {
  color: black;
}

.menu-dropbox {
  height: 28px;
  line-height: 28px;
}

.icon-dropdown {
  font-size: 16px;
}

.delete:hover {
  color: red !important;
}

.style-label-menu-dropbox {
  padding-left: 8px;
}


.first-Priority, .second-Priority, .third-Priority, .normal-Priority {
  font-size: 16px;
  margin: 5px;
  line-height: 24px;
  padding: 0 8px;
  height: max-content;
}

.first-Priority {
  color: #de4c4a;
}

.second-Priority {
  color: #f49c18;
}

.third-Priority {
  color: #4073d6;
}

.label-menu-item-header {
  margin: 0 15px;
  font-weight: 500;
}

.section-Priority {
  margin-top: 10px;
  margin-bottom: 10px;
}

.Select-Priority {
  display: flex;
}

.label-menu-item-header, .Select-Priority {
  line-height: 18px;
}

.bottom-right-task {
  display: inline-block;
  word-wrap: break-word;
  margin-top: 10px;
}

.ColorInbox {
  color: #5297ff;
  font-size: 16px;
  margin: 0 8px;
}

.color-add-Section {
  display: inherit;
}

.box-button-label {
  font-size: 16px;
}

.header-task {
  display: flow-root;
}

.separator {
  margin-top: 10px;
  margin-bottom: 20px;
  height: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  position: relative;
}

.first-header, .second-header {
  width: 50%;
  font-size: 18px;
  text-align: center
}

.header-object {
  display: block ruby;
  margin: 24px 0;
}

.text-comment {
  inline-size: 100%;
  border: 0;
  resize: none;
  font-size: 14px;
}

.bottom-left {
  float: left;
}

.custom-left-button {
  min-height: 24px;
  padding: 0 12px;
  min-width: 30px;
  margin: 0 5px;
}

.bottom-right {
  float: right;
  margin-right: 20px;
  margin-bottom: 5px;
}

.section-new-task {
  margin: 10px;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
}

.bottom {
  display: flow-root;
}

.display-comment {
  min-height: 100px;
  max-height: 300px;
  overflow-y: auto;
  height: 100%;
}

.add-task {
  text-align: start;
  color: grey;
}

.zone-left {
  width: 30px;
  text-align: center;
  float: left;
}

.circle-add-task {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  margin: 0 5px;
}

.plus-add-task {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 16px;
  height: 16px;
}

.add-task-style-text {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
}

.text-comment:focus {
  outline: none;
}

.close:focus {
  outline: none;
}

.date-label {
  margin-left: 5px;
}

.task-style {
  display: ruby block;
}

.taskSubShowDescription {
  color: grey;
}

.taskSubShowTitle {
  font-size: 18px;
  font-weight: 500;
}

.taskSubShowTitleSec {
  font-size: 14px;
  font-weight: 450;
}

.taskSubShowDescriptionSec {
  font-size: 14px;
  color: grey;
}

.more-sub-task {
  margin-left: 30px;
}

.User-post {
  display: block ruby;
}

.small-avatar {
  border-radius: 50%;
  border: 1px #202020 solid;
  height: 32px;
  width: 32px;
  max-height: 32px;
  max-width: 32px;
  margin-right: 8px;
}

.namePost {
  font-size: 18px;
  font-weight: 500;
}

.time-created, .timePost {
  color: #72767d;
}

.time-created {
  margin: 10px 5px;
  font-size: 13px;
}

.Content-comment {
  display: flex;
}

.content:hover > .timePost {
  display: block;
}

.content {
  word-wrap: break-word;
  width: 94%;
}

.timePost {
  width: 6%;
  display: none;
}

.modal-content {
  height: 100%;
}

.zone-add {
  width: 100%;
}

.comment-tab {
  height: 100%;
}

.delete-comment-button {
  float: right;
}

.fileInput {
  display: none;
}

.custom-drop-select {
  display: grid;
  height: 200px;
}

.select-option-notifi {
  width: 100%;
}

.button-save {
  margin: 0 5px;
}

.button-cancel {
  float: right;
  margin: 0 5px;
}

.add-commentZone {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
}

.center-header {
  text-align: center;
  width: 100%;
  font-size: 24px;
  font-weight: 600;
}

.box-zone {
  display: flex;

}

.table-label-name {
  inline-size: 90px;
  padding: 10px 2px;
  overflow-wrap: break-word;
  font-size: 18px;
  background-color: #f9ecda;
  text-align: center;
}

.box-detail {
  border: 2px solid #cccccc;
}

.main-detail-title, .main-detail-Description, .main-detail-time, .main-detail-notification, .main-detail-project {
  padding: 10px;
}

.main-detail-project, .main-detail-time, .main-detail-notification {
  inline-size: 600px;
}

.main-detail-project, .main-detail-title, .main-detail-Description, .main-detail-time {
  border-left: 2px solid #cccccc;
  border-bottom: 2px solid #cccccc;
}

.detail-project-label, .title-label, .description-label, .time-dated {
  border-bottom: 2px solid #cccccc;
}

.main-detail-notification {
  border-left: 2px solid #cccccc;
}

.button-add-task {
  width: fit-content;
  border-radius: 5px;
}
.zone-task-detail {
  display: flex;
}
