<div role="dialog" *transloco="let trans">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <label class="center-header">{{trans('DetailTask')}}</label>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closingDialog()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="header-task">
          <div class="zone-task-detail" *ngIf="!(statusSelect == 'currentDetail')">
            <div class="checkZoneLeft">
              <div class="circle-finished-box" (mouseenter)="enterCheckAnimation(displayTasK.data.taskid)"
                   (mouseleave)="leaveCheckAnimation()">
                <i class="bi bi-check-lg checkbox" (click)="TaskFinished(displayTasK.data.taskid)"
                   *ngIf="checkfinished===true && locationcheckFinished=== displayTasK.data.taskid"></i>
              </div>
            </div>
            <div class="task-detail box-detail">
              <div class="box-zone">
                <div class="table-label-name detail-project-label">{{trans('Projects')}}</div>
                <div class="main-detail-project"><i class="bi bi-inbox-fill ColorInbox"
                                                    *ngIf="displayTasK.data.colorSpecs === '#5297ff'"></i>
                  <i class="color-circle color-add-Section" *ngIf="!(displayTasK.data.colorSpecs === '#5297ff')"
                     [style.background-color]="displayTasK.data.colorSpecs"></i>
                  <label class="box-button-label"
                         [style.color]="(displayTasK.data.colorSpecs === '#5297ff') ? '#5297ff':'#a970ff'">
                    {{(displayTasK.data.titerGroupTask === 'Default Group') ? trans('DefaultGroup') : displayTasK.data.titerGroupTask}}
                  </label>
                </div>
              </div>
              <div class="box-zone">
                <div class="table-label-name title-label">{{trans('TitleTask')}}</div>
                <div class="taskShowtitle main-detail-title"
                     [style.text-decoration]="finishedMainTask===true ? 'line-through':'none'">
                  {{displayTasK.data.title}}</div>
              </div>
              <div class="box-zone" *ngIf="displayTasK.data.description != '' && displayTasK.data.description != null">
                <div class="table-label-name description-label">{{trans('HintDescription')}}</div>
                <div class="taskShowDescription main-detail-Description"
                     [style.text-decoration]="finishedMainTask===true ? 'line-through':'none'">
                  {{displayTasK.data.description}}</div>
              </div>
              <div class="box-zone">
                <div class="table-label-name time-dated">{{trans('ToDated')}}</div>
                <div class="date-text-overdue main-detail-time"
                     [style.color]="displayTasK.overdue === true ? '#de4c4a':'#228B22'">
                  <i class="bi bi-calendar2"></i>
                  <label class="date-label"
                         matTooltip="{{displayTasK.data.date}}">{{displayTasK.data.date.substring(4, 11)}}</label>
                </div>
              </div>
              <div class="box-zone" *ngIf="viewNotification != null">
                <div class="table-label-name notification-label">{{trans('ExtraNotification')}}</div>
                <div class="extra-notification main-detail-notification">
                  {{viewNotification}}
                </div>
              </div>
            </div>
            <div class="right-task">
              <div class="top-right-task">
                <i class="bi bi-pencil-square first-icon-task" (click)="SelectEdits('currentDetail',-4,-4)"
                   matTooltip="{{trans('HintEditTasks')}}"
                   [matTooltipShowDelay]="900"></i>
                <i class="bi bi-three-dots third-icon-task" matTooltip="{{trans('HintMoreAction')}}"
                   [matTooltipShowDelay]="900"
                   [matMenuTriggerFor]="MoreAction"></i>
              </div>
              <mat-menu #MoreAction="matMenu">
                <button class="menu-dropbox" mat-menu-item (click)="SelectEdits('currentDetail',-4,-4)">
                  <i class="bi bi-archive icon-dropdown"></i>
                  <span class="style-label-menu-dropbox">{{trans('ButtonEdits')}}</span>
                </button>
                <button class="menu-dropbox" mat-menu-item (click)="PinnedTask(displayTasK.data.taskid)">
                  <i class="bi bi-pin icon-dropdown"></i>
                  <span class="style-label-menu-dropbox">{{trans('ButtonPinned')}}</span>
                </button>
                <div class="section-Priority">
                  <div class="label-menu-item-header">{{trans('Priority')}}</div>
                  <div class="Select-Priority">
                    <button mat-menu-item class="first-Priority" (click)="ChangePriority(displayTasK.data.taskid,4)">
                      <i class="bi bi-flag-fill"></i>
                    </button>
                    <button mat-menu-item class="second-Priority" (click)="ChangePriority(displayTasK.data.taskid,3)">
                      <i class="bi bi-flag-fill"></i>
                    </button>
                    <button class="third-Priority" mat-menu-item (click)="ChangePriority(displayTasK.data.taskid,2)">
                      <i class="bi bi-flag-fill"></i>
                    </button>
                    <button class="normal-Priority" mat-menu-item (click)="ChangePriority(displayTasK.data.taskid,0)">
                      <i class="bi bi-flag"></i>
                    </button>
                  </div>
                </div>
                <button class="menu-dropbox delete" mat-menu-item (click)="DeletedTask(displayTasK.data.taskid)">
                  <i class="bi bi-trash2 icon-dropdown"></i>
                  <span class="style-label-menu-dropbox">{{trans('ButtonDeleted')}}</span>
                </button>
              </mat-menu>
            </div>
          </div>
          <app-addtask *ngIf="statusSelect == 'currentDetail'" [currentSection]="displayTasK.data.sectionId"
                       [currentProject]="displayTasK.data.titerGroupTask"
                       [currentSectionName]="displayTasK.data.titleSection"
                       [exitsTask]="DataSelect" [suggestOption]="true"
                       [colorProject]="displayTasK.data.colorSpecs" [flagModal]="false">{{trans('Open')}}
          </app-addtask>
        </div>
        <div class="header-object">
          <div class="first-header" (click)="ChangeActiveSelect(1)">
            <label [style.font-weight]="activeZone ===1 ? 700:400">{{trans('SubTask')}}</label>
            <div class="separator" [style.border-top-color]="activeZone===1? 'black':'#ddd'"
                 [style.border-bottom-color]="activeZone===1? 'black':'#fff'"></div>
          </div>
          <div class="second-header" (click)="ChangeActiveSelect(2)">
            <label [style.font-weight]="activeZone ===2 ? 700:400">{{trans('Comments')}}</label>
            <div class="separator" [style.border-top-color]="activeZone===2? 'black':'#ddd'"
                 [style.border-bottom-color]="activeZone===2? 'black':'#fff'"></div>
          </div>
        </div>
        <div class="DisplayData">
          <div class="sub-task-tab" *ngIf="activeZone ===1">
            <div class="list-sub-task" *ngFor="let task of SubTask; index as location">
              <div class="data-sub-task" *ngFor="let detail of task.listtask;index as i">
                <div class="task-style" *ngIf="!(statusSelect == 'firstSubLayout' && locationEditsTask==location && locationsubTask===i)">
                  <div class="sub-checkZoneLeft">
                    <div class="sub-circle-finished-box" (mouseenter)="enterCheckAnimation(detail.task.taskid)"
                         (mouseleave)="leaveCheckAnimation()">
                      <i class="bi bi-check-lg sub-checkbox"
                         (click)="TaskFinishedWithSub(location,i,'first',detail.task.taskid)"
                         *ngIf="checkfinished===true && locationcheckFinished=== detail.task.taskid"></i>
                    </div>
                  </div>
                  <div class="task-detail" (click)="ClickSubTask(i,location,'first')">
                    <div class="taskSubShowTitle">{{detail.task.title}}</div>
                    <div class="taskSubShowDescription">{{detail.task.description}}</div>
                    <div class="date-text" [style.color]="detail.overdue === true ? '#de4c4a':'#228B22'">
                      <i class="bi bi-calendar2"></i>
                      <label class="date-label"
                             matTooltip="{{detail.task.date}}">{{detail.task.date.substring(4, 11)}}</label>
                    </div>
                  </div>
                  <div class="right-task">
                    <div class="top-right-task">
                      <i class="bi bi-pencil-square first-icon-task" (click)="SelectEdits('firstSubLayout',location,i)"
                         matTooltip="{{trans('HintEditTasks')}}"
                         [matTooltipShowDelay]="900"></i>
                      <i class="bi bi-eye-fill second-icon-task" matTooltip="{{trans('HintSeeDetail')}}"
                         (click)="ClickSubTask(i,location,'first')"
                         [matTooltipShowDelay]="900"></i>
                      <i class="bi bi-three-dots third-icon-task" matTooltip="{{trans('HintMoreAction')}}"
                         [matTooltipShowDelay]="900"
                         [matMenuTriggerFor]="MoreAction"></i>
                    </div>
                    <mat-menu #MoreAction="matMenu">
                      <button class="menu-dropbox" mat-menu-item (click)="SelectEdits('firstSubLayout',location,i)">
                        <i class="bi bi-archive icon-dropdown"></i>
                        <span class="style-label-menu-dropbox">{{trans('ButtonEdits')}}</span>
                      </button>
                      <button class="menu-dropbox" mat-menu-item (click)="PinnedTask(detail.task.taskid)">
                        <i class="bi bi-pin icon-dropdown"></i>
                        <span class="style-label-menu-dropbox">{{trans('ButtonPinned')}}</span>
                      </button>
                      <div class="section-Priority">
                        <div class="label-menu-item-header">{{trans('Priority')}}</div>
                        <div class="Select-Priority">
                          <button mat-menu-item class="first-Priority" (click)="ChangePriority(detail.task.taskid,4)">
                            <i class="bi bi-flag-fill"></i>
                          </button>
                          <button mat-menu-item class="second-Priority" (click)="ChangePriority(detail.task.taskid,3)">
                            <i class="bi bi-flag-fill"></i>
                          </button>
                          <button class="third-Priority" mat-menu-item (click)="ChangePriority(detail.task.taskid,2)">
                            <i class="bi bi-flag-fill"></i>
                          </button>
                          <button class="normal-Priority" mat-menu-item (click)="ChangePriority(detail.task.taskid,0)">
                            <i class="bi bi-flag"></i>
                          </button>
                        </div>
                      </div>
                      <button class="menu-dropbox delete" mat-menu-item (click)="DeletedTask(detail.task.taskid)">
                        <i class="bi bi-trash2 icon-dropdown"></i>
                        <span class="style-label-menu-dropbox">{{trans('ButtonDeleted')}}</span>
                      </button>
                    </mat-menu>
                  </div>
                </div>
                <app-addtask
                  *ngIf="statusSelect == 'firstSubLayout' && locationEditsTask==location && locationsubTask===i"
                  [currentSection]="displayTasK.data.sectionId"
                  [currentProject]="displayTasK.data.titerGroupTask"
                  [currentSectionName]="displayTasK.data.titleSection"
                  [exitsTask]="DataSelect" [suggestOption]="true"
                  [colorProject]="displayTasK.data.colorSpecs" [flagModal]="false">{{trans('Open')}}
                </app-addtask>
                <div class="more-sub-task" *ngFor="let second of task.subtask; index as subIndex">
                  <div class="task-style" *ngIf="!(statusSelect == 'firstSubLayout' && locationEditsTask==location && locationsubTask===subIndex)">
                    <div class="sub-checkZoneLeft">
                      <div class="sub-circle-finished-box" (mouseenter)="enterCheckAnimation(second.task.taskid)"
                           (mouseleave)="leaveCheckAnimation()">
                        <i class="bi bi-check-lg sub-checkbox"
                           (click)="TaskFinishedWithSub(location,subIndex,'second',second.task.taskid)"
                           *ngIf="checkfinished===true && locationcheckFinished=== second.task.taskid"></i>
                      </div>
                    </div>
                    <div class="task-detail" (click)="ClickSubTask(subIndex,location,'second')">
                      <div class="taskSubShowTitleSec">{{second.task.title}}</div>
                      <div class="taskSubShowDescriptionSec">{{second.task.description}}</div>
                      <div class="date-text" [style.color]="second.overdue === true ? '#de4c4a':'#228B22'">
                        <i class="bi bi-calendar2"></i>
                        <label class="date-label"
                               matTooltip="{{second.task.date}}">{{second.task.date.substring(4, 11)}}</label>
                      </div>
                    </div>
                    <div class="right-task">
                      <div class="top-right-task">
                        <i class="bi bi-pencil-square first-icon-task" matTooltip="Edit Tasks"
                           (click)="SelectEdits('secondSubLayout',location,subIndex)"
                           [matTooltipShowDelay]="900"></i>
                        <i class="bi bi-calendar2-event-fill second-icon-task" matTooltip="Set Due Date"
                           [matTooltipShowDelay]="900"></i>
                        <i class="bi bi-three-dots third-icon-task" matTooltip="More Task Action"
                           [matTooltipShowDelay]="900"
                           [matMenuTriggerFor]="MoreAction"></i>
                      </div>
                      <mat-menu #MoreAction="matMenu">
                        <button class="menu-dropbox" mat-menu-item
                                (click)="SelectEdits('secondSubLayout',location,subIndex)">
                          <i class="bi bi-archive icon-dropdown"></i>
                          <span class="style-label-menu-dropbox">{{trans('ButtonEdits')}}</span>
                        </button>
                        <button class="menu-dropbox" mat-menu-item (click)="PinnedTask(second.task.taskid)">
                          <i class="bi bi-pin icon-dropdown"></i>
                          <span class="style-label-menu-dropbox">{{trans('ButtonPinned')}}</span>
                        </button>
                        <div class="section-Priority">
                          <div class="label-menu-item-header">{{trans('Priority')}}</div>
                          <div class="Select-Priority">
                            <button mat-menu-item class="first-Priority" (click)="ChangePriority(second.task.taskid,4)">
                              <i class="bi bi-flag-fill"></i>
                            </button>
                            <button mat-menu-item class="second-Priority"
                                    (click)="ChangePriority(second.task.taskid,3)">
                              <i class="bi bi-flag-fill"></i>
                            </button>
                            <button class="third-Priority" mat-menu-item (click)="ChangePriority(second.task.taskid,2)">
                              <i class="bi bi-flag-fill"></i>
                            </button>
                            <button class="normal-Priority" mat-menu-item
                                    (click)="ChangePriority(second.task.taskid,0)">
                              <i class="bi bi-flag"></i>
                            </button>
                          </div>
                        </div>
                        <button class="menu-dropbox delete" mat-menu-item (click)="DeletedTask(second.task.taskid)">
                          <i class="bi bi-trash2 icon-dropdown"></i>
                          <span class="style-label-menu-dropbox">{{trans('ButtonDeleted')}}</span>
                        </button>
                      </mat-menu>
                    </div>
                  </div>
                  <app-addtask
                    *ngIf="statusSelect == 'firstSubLayout' && locationEditsTask==location && locationsubTask===subIndex"
                    [currentSection]="displayTasK.data.sectionId"
                    [currentProject]="displayTasK.data.titerGroupTask"
                    [currentSectionName]="displayTasK.data.titleSection"
                    [exitsTask]="DataSelect" [suggestOption]="true"
                    [colorProject]="displayTasK.data.colorSpecs" [flagModal]="false">{{trans('Open')}}
                  </app-addtask>
                </div>
              </div>
            </div>
            <div class="add-task" [hidden]="hideflag" (click)="openDataAddTask()"
                 (mouseenter)="enterAddTask()" (mouseleave)="outAddTask()">
              <div class="button-add-task" [style.background-color]="flagOnGoingAddTask === true ? '#E60023':'white'"
                   [style.padding]="flagOnGoingAddTask === true ? '5px 0':'0'">
                <div class="zone-left">
                  <div class="circle-add-task" [style.background-color]="'white'">
                    <i class="bi bi-plus-lg plus-add-task"
                       [style.color]="'#E60023'"></i>
                  </div>
                </div>
                <span class="add-task-style-text"
                      [style.color]="flagOnGoingAddTask === true ? 'white':'grey'">{{trans('ButtonAddTask')}}</span>
              </div>
            </div>
            <app-addtask *ngIf="hideflag===true && SectionData" [currentSection]="SectionData.id"
                         [currentProject]="displayTasK.data.titerGroupTask" [currentSectionName]="SectionData.title"
                         [colorProject]="displayTasK.data.colorSpecs" [parentId]="displayTasK.data.taskid"
                         [projectId]="displayTasK.data.groupid" [flagModal]="false">{{trans('Open')}}</app-addtask>
          </div>
          <div class="comment-tab" *ngIf="activeZone ===2">
            <div class="display-comment">
              <div *ngFor="let data of CommentData; index as i">
                <div class="User-post" (mouseenter)="mouseEnterShowButton(i)" (mouseleave)="mouseLeaveButton()">
                  <img src="{{userPost.image}}" class="small-avatar">
                  <label class="namePost">{{userPost.username}}</label>
                  <div class="time-created">{{data.timePost}}</div>
                  <button class="delete-comment-button" mat-button *ngIf="location === i && flagButtonDelete=== true"
                          (click)="DeletedComment(data.comments[0].id,i)">
                    {{trans('ButtonDeleted')}}</button>
                </div>
                <div class="comment-display">
                  <div class="Content-comment" *ngFor="let comment of data.comments"
                       (mouseenter)="mouseEnterShowTime(i)" (mouseleave)="mouseLeaveTime()">
                    <div class="content">{{comment.comment}}</div>
                    <div class="timePost"
                         *ngIf="location === i && flagShowTime=== true">{{comment.create.slice(11, 16)}}
                      >{{comment.create.slice(11, 16)}}</div>
                  </div>
                </div>
                <div class="Content-image" *ngFor="let image of data.images" (click)="ShowBiggerImage(image)">
                  <img src="{{image.thumbshot}}" alt="thumbshotImage">
                </div>
              </div>
            </div>
            <div class="add-commentZone">
              <div class="displayImage-Comment" *ngIf="PreViewImages.length > 0">
                <div class="image-preview" *ngFor="let image of PreViewImages">
                  <img alt="preview" src="{{image}}">
                </div>
              </div>
              <div class="section-new-task">
                <label class="zone-add">
                  <textarea id="textComment" class="text-comment" rows="3" [(ngModel)]="textarea"
                            placeholder="{{trans('HintTitleTask')}}"
                            (keyup)="autogrow()"></textarea>
                </label>
                <div class="bottom">
                  <div class="bottom-left">
                    <button mat-button class="custom-left-button" (click)="commentImage.click()">
                      <i class="bi bi-paperclip upload-image"></i>
                      <input type="file" #commentImage id="commentImage" class="fileInput"
                             (change)="changeFileComment($event)">
                    </button>
                  </div>
                  <div class="bottom-right" (click)="SaveNewComment()">
                    <button mat-flat-button color="warn">{{trans('Comments')}}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
