<div role="dialog" *transloco="let trans">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closingDialog()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="warning-label">
          {{trans('WarningDiscardTask')}}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="add-task" class="btn btn-dark add-task"
                (click)="confirm()">{{trans('passwordConfirm')}}</button>
        <button type="button" class="btn btn-light cancel-task"
                (click)="cancel()">{{trans('ButtonCancel')}}</button>
      </div>
    </div>
  </div>
</div>
