<div class="display-data" *transloco="let trans">
  <div class="header-today">
    <mat-toolbar class="custom-small-toolbar">
      <div class="header-custom">
        <div class="left-title">
          <span class="big-Default">{{this.DateDayTimeCurrent[0]}}</span>
          <span class="header-W">{{this.DateDayTimeCurrent[1]}}</span>
          <span class="header-month">{{this.DateDayTimeCurrent[2]}}</span>
          <span class="header-day">{{this.DateDayTimeCurrent[3]}}</span>
        </div>
      </div>
    </mat-toolbar>
  </div>
  <div class="today-layout">
    <div class="Overdue-task" [hidden]="OverdueTaskFlag">
      <div class="ZoneColor-title" [style.background-color]="BROverdue">
        <div class="head-day-task">{{trans('Overdue')}}</div>
        <div class="separator"></div>
      </div>
      <div class="Zone-view-task-Overdue">
        <div class="All-Overdue-Task" *ngFor="let taskoverdue of displayTaskOverdue;  index as i">
          <div class="task-style" *ngIf="locationEditsOverDue != i">
            <div class="checkZoneLeft">
              <div class="circle-finished-box" (mouseenter)="enterCheckAnimation(taskoverdue.data.taskid)"
                   (mouseleave)="leaveCheckAnimation()">
                <i class="bi bi-check-lg checkbox" (click)="TaskFinishedOverDue(i,taskoverdue.data.taskid)"
                   *ngIf="checkfinished===true && locationcheckFinished=== taskoverdue.data.taskid"></i>
              </div>
            </div>
            <div class="task-detail" (click)="MoreDetail('overdue',i)">
              <div class="taskShowtitle">{{taskoverdue.data.title}}</div>
              <div class="taskShowDescription">{{taskoverdue.data.description}}</div>
              <div class="date-text-overdue">
                <i class="bi bi-calendar2"></i>
                <label class="date-label">{{taskoverdue.data.date.substring(4, 11)}}</label>
              </div>
            </div>
            <div class="right-task">
              <div class="top-right-task">
                <mat-datepicker #pickerDate (opened)="onOpen()" (closed)="onClose()"></mat-datepicker>
                <input class="null-input" [matDatepicker]="pickerDate" [(ngModel)]="dateFinishTask"
                       placeholder="{{trans('HintChoseDate')}}">
                <div style="display: none">
                  <div class="datepicker-footer" #datepickerFooter>
                    <div class="separator separator_login_page"></div>
                    <button class="btn btn-light AddTimeDate" [hidden]="CheckAddTimeTaskState"
                            (click)="onclickAddTime()">
                      <label class="box-button-label">{{trans('AddTime')}}</label>
                      <i class="bi bi-plus"></i>
                    </button>
                    <div class="AddTime" [hidden]="!CheckAddTimeTaskState">
                      <div class="First-bottom-line">
                        <label>{{trans('TitleSetTime')}}</label>
                        <label class="Input-time-field">
                          <input class="SetTime" [(ngModel)]="TimeSetTaskFinish" placeholder="{{trans('HintSetTime')}}">
                        </label>
                      </div>
                      <div class="Second-bottom-line">
                        <button class="btn btn-light cancel-add-task"
                                (click)="cancelAddTime()">{{trans('ButtonCancel')}}</button>
                        <button class="btn btn-light save-task"
                                (click)="processFinishAddTask(pickerDate)">{{trans('buttonSave')}}</button>
                      </div>
                    </div>
                  </div>
                </div>
                <i class="bi bi-pencil-square first-icon-task" (click)="SelectEdits(i,'overdue')"
                   matTooltip="{{trans('HintEditTasks')}}"
                   [matTooltipShowDelay]="900"></i>
                <i class="bi bi-eye-fill second-icon-task" (click)="MoreDetail('overdue',i)"
                   matTooltip="{{trans('HintSeeDetail')}}"
                   [matTooltipShowDelay]="900"></i>
                <i class="bi bi-three-dots third-icon-task" matTooltip="{{trans('HintMoreAction')}}"
                   [matTooltipShowDelay]="900"
                   [matMenuTriggerFor]="MoreAction"></i>
              </div>
              <mat-menu #MoreAction="matMenu">
                <button class="menu-dropbox" mat-menu-item>
                  <i class="bi bi-archive icon-dropdown"></i>
                  <span class="style-label-menu-dropbox"
                        (click)="SelectEdits(i,'overdue')">{{trans('ButtonEdits')}}</span>
                </button>
                <button class="menu-dropbox" mat-menu-item (click)="PinnedTask(taskoverdue.data.taskid)">
                  <i class="bi bi-pin icon-dropdown"></i>
                  <span class="style-label-menu-dropbox">{{trans('ButtonPinned')}}</span>
                </button>
                <div class="section-Priority">
                  <div class="label-menu-item-header">{{trans('Priority')}}</div>
                  <div class="Select-Priority">
                    <button mat-menu-item class="first-Priority" (click)="ChangePriority(taskoverdue.data.taskid,4)">
                      <i class="bi bi-flag-fill"></i>
                    </button>
                    <button mat-menu-item class="second-Priority" (click)="ChangePriority(taskoverdue.data.taskid,3)">
                      <i class="bi bi-flag-fill"></i>
                    </button>
                    <button class="third-Priority" mat-menu-item (click)="ChangePriority(taskoverdue.data.taskid,2)">
                      <i class="bi bi-flag-fill"></i>
                    </button>
                    <button class="normal-Priority" mat-menu-item (click)="ChangePriority(taskoverdue.data.taskid,0)">
                      <i class="bi bi-flag"></i>
                    </button>
                  </div>
                </div>
                <button class="menu-dropbox delete" mat-menu-item (click)="DeletedTask(taskoverdue.data.taskid)">
                  <i class="bi bi-trash2 icon-dropdown"></i>
                  <span class="style-label-menu-dropbox">{{trans('ButtonDeleted')}}</span>
                </button>
              </mat-menu>
              <div class="bottom-right-task">
                <i class="bi bi-inbox-fill ColorInbox" *ngIf="taskoverdue.data.colorSpecs === '#5297ff'"></i>
                <i class="color-circle color-add-Section" *ngIf="!(taskoverdue.data.colorSpecs === '#5297ff')"
                   [style.background-color]="taskoverdue.data.colorSpecs"></i>
                <label class="box-button-label"
                       [style.color]="(taskoverdue.data.colorSpecs === '#5297ff') ? '#5297ff':'#a970ff'">
                  {{(taskoverdue.data.titerGroupTask === 'Default Group') ? trans('DefaultGroup') : taskoverdue.data.titerGroupTask}}
                </label>
              </div>
            </div>
          </div>
          <app-addtask *ngIf="locationEditsOverDue== i"
                       [currentSection]="taskoverdue.data.sectionId"
                       [currentProject]="GroupSelect" [currentSectionName]="SectionSelect"
                       [colorProject]="taskoverdue.data.colorSpecs" [exitsTask]="DataSelect" [suggestOption]="true"
                       [projectId]="taskoverdue.data.groupid" [flagModal]="false">{{trans('Open')}}</app-addtask>
        </div>
      </div>
    </div>
    <div class="content-today">
      <div class="ZoneColor-title" [style.background-color]="BROnGoing">
        <div class="head-day-task">{{day}}</div>
        <div class="separator separator_task"></div>
      </div>
      <div class="Zone-view-task-onGoing">
        <div class="All-OnGoing-Task" *ngFor="let taskongoing of displayTaskOnGoing;  index as i">
          <div class="task-style"
               *ngIf="locationEditsOnGoing != i">
            <div class="checkZoneLeft">
              <div class="circle-finished-box" (mouseenter)="enterCheckAnimation(taskongoing.data.taskid)"
                   (mouseleave)="leaveCheckAnimation()">
                <i class="bi bi-check-lg checkbox" (click)="TaskFinishedOnGoing(i,taskongoing.data.taskid)"
                   *ngIf="checkfinished===true && locationcheckFinished=== taskongoing.data.taskid"></i>
              </div>
            </div>
            <div class="task-detail" (click)="MoreDetail('ongoing',i)">
              <div class="taskShowtitle">{{taskongoing.data.title}}</div>
              <div class="taskShowDescription">{{taskongoing.data.description}}</div>
              <div class="date-text" [style.color]="taskongoing.overdue === true ? '#de4c4a':'#228B22'">
                <i class="bi bi-calendar2"></i>
                <label class="date-label">{{taskongoing.data.date.substring(4, 11)}}</label>
              </div>
            </div>
            <div class="right-task">
              <div class="top-right-task">
                <i class="bi bi-pencil-square first-icon-task" (click)="SelectEdits(i,'ongoing')"
                   matTooltip="{{trans('HintEditTasks')}}"
                   [matTooltipShowDelay]="900"></i>
                <i class="bi bi-eye-fill second-icon-task" (click)="MoreDetail('ongoing',i)"
                   matTooltip="{{trans('HintSeeDetail')}}"
                   [matTooltipShowDelay]="900"></i>
                <i class="bi bi-three-dots third-icon-task" matTooltip="{{trans('HintMoreAction')}}"
                   [matTooltipShowDelay]="900"
                   [matMenuTriggerFor]="MoreAction"></i>
              </div>
              <mat-menu #MoreAction="matMenu">
                <button class="menu-dropbox" mat-menu-item (click)="SelectEdits(i,'ongoing')">
                  <i class="bi bi-archive icon-dropdown"></i>
                  <span class="style-label-menu-dropbox">{{trans('ButtonEdits')}}</span>
                </button>
                <button class="menu-dropbox" mat-menu-item (click)="PinnedTask(taskongoing.data.taskid)">
                  <i class="bi bi-pin icon-dropdown"></i>
                  <span class="style-label-menu-dropbox">{{trans('ButtonPinned')}}</span>
                </button>
                <div class="section-Priority">
                  <div class="label-menu-item-header">{{trans('Priority')}}</div>
                  <div class="Select-Priority">
                    <button mat-menu-item class="first-Priority" (click)="ChangePriority(taskongoing.data.taskid,4)">
                      <i class="bi bi-flag-fill"></i>
                    </button>
                    <button mat-menu-item class="second-Priority" (click)="ChangePriority(taskongoing.data.taskid,3)">
                      <i class="bi bi-flag-fill"></i>
                    </button>
                    <button class="third-Priority" mat-menu-item (click)="ChangePriority(taskongoing.data.taskid,2)">
                      <i class="bi bi-flag-fill"></i>
                    </button>
                    <button class="normal-Priority" mat-menu-item (click)="ChangePriority(taskongoing.data.taskid,0)">
                      <i class="bi bi-flag"></i>
                    </button>
                  </div>
                </div>
                <button class="menu-dropbox delete" mat-menu-item (click)="DeletedTask(taskongoing.data.taskid)">
                  <i class="bi bi-trash2 icon-dropdown"></i>
                  <span class="style-label-menu-dropbox">{{trans('ButtonDeleted')}}</span>
                </button>
              </mat-menu>
              <div class="bottom-right-task">
                <i class="bi bi-inbox-fill ColorInbox" *ngIf="taskongoing.data.colorSpecs === '#5297ff'"></i>
                <i class="color-circle color-add-Section" *ngIf="!(taskongoing.data.colorSpecs === '#5297ff')"
                   [style.background-color]="taskongoing.data.colorSpecs"></i>
                <label class="box-button-label"
                       [style.color]="(taskongoing.data.colorSpecs === '#5297ff') ? '#5297ff':'#a970ff'">
                  {{(taskongoing.data.titerGroupTask === 'Default Group') ? trans('DefaultGroup') : taskongoing.data.titerGroupTask}}
                </label>
              </div>
            </div>
          </div>
          <app-addtask *ngIf="locationEditsOnGoing== i"
                       [currentSection]="taskongoing.data.sectionId"
                       [currentProject]="GroupSelect" [currentSectionName]="SectionSelect"
                       [colorProject]="taskongoing.data.colorSpecs" [exitsTask]="DataSelect" [suggestOption]="true"
                       [projectId]="taskongoing.data.groupid" [flagModal]="false">{{trans('Open')}}</app-addtask>
        </div>
      </div>
      <app-chart-today *ngIf="flagChartAtToday === false && flagChartAtOverdue===false"></app-chart-today>
      <div class="add-task" [hidden]="hideflag" (click)="openDataAddTask()"
           (mouseenter)="enterAddTask()" (mouseleave)="outAddTask()">
        <div class="button-add-task" [style.background-color]="flagOnGoingAddTask === true ? '#E60023':'white'"
             [style.padding]="flagOnGoingAddTask === true ? '5px 0':'0'">
        <div class="zone-left">
          <div class="circle-add-task" [style.background-color]="'white'">
            <i class="bi bi-plus-lg plus-add-task"
               [style.color]="'#E60023'"></i>
          </div>
        </div>
        <span class="add-task-style-text"
              [style.color]="flagOnGoingAddTask === true ? 'white':'grey'">{{trans('ButtonAddTask')}}</span>
        </div>
      </div>
      <app-addtask *ngIf="hideflag===true" [currentSection]="DefaultSection.id"
                   [currentProject]="DefaultChannel.titleGroupTask" [currentSectionName]="DefaultSection.title"
                   [colorProject]="DefaultChannel.colorSpecs" [suggestOption]="false"
                   [projectId]="DefaultChannel.groupid" [flagModal]="false">{{trans('Open')}}</app-addtask>
    </div>
  </div>
  <div class="Footer-chart-Show">
    <app-chart-today *ngIf="flagChartAtToday"></app-chart-today>
  </div>
</div>
