
.header-today {
  position: sticky;
  top: 0;
  z-index: 2;
  display: inline-block;
  padding-top: 32px;
  width: 100%;
  padding-left: 55px;
  padding-right: 55px;
  background-color: white;
}

.custom-small-toolbar {
  background-color: white;
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
}

.header-custom {
  width: 100%;
  padding-left: 20px;
  height: inherit;
}

.left-title {
  float: left;
}

.big-Default {
  font-size: 25px;
  font-weight: 700;
  line-height: 25px;
}

.header-month, .header-day {
  padding: 0 2px;
  color: grey;
  font-size: 12px;
  font-weight: 400;
}

.header-W {
  padding: 0 2px 0 10px;
  color: grey;
  font-size: 12px;
  font-weight: 400;
}

.custom-dayRoll {
  padding-top: 28px;
  max-width: 800px;
  text-align: center;
  width: 100%;
  display: inline-block;
}

.head-day-task {
  margin-left: 15px;
  font-size: 18px;
  float: left;
  font-weight: 500;
}

.separator {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #695C5C;
  position: relative;
}

.add-task {
  text-align: start;
  color: grey;
}

.add-task-style-text {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
}

.content-today, .Overdue-task {
  padding-top: 28px;
  text-align: center;
  width: 90%;
  min-width: 800px;
  display: inline-block;
}

.content-today {
  padding-bottom: 28px;
}

.All-Overdue-Task, .All-OnGoing-Task {
  text-align: left;
  height: fit-content;
  margin: 5px 0;
}

.circle-finished-box {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  margin: 0 5px;
  border: 1px solid;
  color: grey;
}

.circle-finished-box:hover {
  background-color: hsla(0, 0%, 50.2%, .2);
}

.checkZoneLeft {
  width: 30px;
  min-width: 26px;
  float: left;
}


.taskShowtitle, .taskShowDescription {
  max-width: 100%;
  width: fit-content;
  inline-size: 100%;
  overflow-wrap: break-word;
}

.taskShowtitle {
  font-size: 16px;
}

.taskShowDescription {
  font-size: 12px;
  color: grey;
}

.checkbox {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 12px;
  height: 14px;
}

.right-task {
  float: right;
}

.first-icon-task, .second-icon-task, .third-icon-task {
  margin: 0 8px;
  font-size: 19px;
  color: slategrey;
}

.first-icon-task:hover, .second-icon-task:hover, .third-icon-task:hover {
  color: black;
}

.date-label {
  margin-left: 5px;
}

.date-text-overdue {
  font-size: 13px;
  color: #de4c4a;
}

.date-text {
  font-size: 13px;
}

.ColorInbox {
  color: #5297ff;
  font-size: 16px;
  margin: 0 8px;
}

.box-button-label {
  font-size: 16px;
}

.color-add-Section {
  display: inherit;
}

.color-circle {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin: 0 5px;
}

.today-layout {
  text-align: center;
  width: 100%;
  display: inline-block;
}

.menu-dropbox {
  height: 28px;
  line-height: 28px;
}

.icon-dropdown {
  font-size: 16px;
}

.delete:hover {
  color: red !important;
}

.style-label-menu-dropbox {
  padding-left: 8px;
}

.zone-left {
  width: 30px;
  text-align: center;
  float: left;
}

.circle-add-task {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  margin: 0 5px;
}

.plus-add-task {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 16px;
  height: 16px;
}

.bottom-right-task {
  display: inline-block;
  word-wrap: break-word;
  width: 100%;
  text-align: end;
}

.top-right-task {
  text-align: end;
  display: inline-block;
  width: 100%;
}

.Select-Priority {
  display: flex;
}

.label-menu-item-header, .Select-Priority {
  line-height: 18px;
}

.first-Priority, .second-Priority, .third-Priority, .normal-Priority {
  font-size: 16px;
  margin: 5px;
  line-height: 24px;
  padding: 0 8px;
  height: max-content;
}

.first-Priority {
  color: #de4c4a;
}

.second-Priority {
  color: #f49c18;
}

.third-Priority {
  color: #4073d6;
}

.label-menu-item-header {
  margin: 0 15px;
  font-weight: 500;
}

.section-Priority {
  margin-top: 10px;
  margin-bottom: 10px;
}

.task-style {
  display: flex;
}

.ZoneColor-title {
  width: 100%;
  display: inline-block;
}

.task-detail {
  width: 100%;
}

.Footer-chart-Show {
  position: sticky;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: inline-block;
  width: 100%;
  padding-left: 55px;
  padding-right: 55px;
  background-color: white;
}

.display-data {
  height: 100%;
  min-height: 95vh;
}

.cancel-add-task {
  float: left;
}

.null-input {
  width: 0;
  padding: 0;
  border: 0;
}

.datepicker-footer {
  width: 100%;
  padding: 0 1.125rem 1.125rem 1.125rem;
  display: inline-block;
  box-sizing: border-box;
  justify-content: space-between;
}

.AddTimeDate {
  color: black;
  font-size: 13px;
}

.box-button-label {
  padding: 0 5px;
  font-weight: 450;
}

.First-bottom-line {
  margin: 5px 0;
  height: max-content;
  display: ruby-base;
}

.Second-bottom-line {
  height: max-content;
  width: 100%;
  margin: 5px 0;
}

.Input-time-field {
  float: right;
}

.setTime {
  border-radius: 5px
}

.cancel-add-task {
  float: left;
}

.save-task {
  float: right;
}

.Zone-view-task-Overdue, .Zone-view-task-onGoing {
  max-height: 53vh;
  overflow-x: auto;
}

.button-add-task {
  width: fit-content;
  border-radius: 5px;
}
