<mat-card *transloco="let trans">
  <label class="font-logo" routerLink="">Scheduled-Task</label>
  <mat-card-content>
    <div class="container center-container">
      <div class="form-signin">
        <h1 class="form-heading">{{trans('Login')}}</h1>
        <button class="button-google-login" mat-flat-button (click)="signInWithGoogle()" *ngIf="user == null">
          <img class="google-icon" src="assets/image/1534129544.png">
          <label class="font-google-icon">Continue with Google</label>
        </button>
        <div class="separator separator_login_page">
          <div class="middle_separator">{{trans('middle_separator')}}</div>
        </div>
      <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" class="form-signin">
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
          <mat-error>
            <span>{{messages}}</span>
          </mat-error>
          <label class="from-note">Email</label> <input
          name="email" type="email" class="form-control" [(ngModel)]="users.email" #username="ngModel" required/> <label
          class="from-note">{{trans('password')}}</label>
          <input name="password" type="password" class="form-control" [(ngModel)]="users.password" #password="ngModel"
                 required/>
          <mat-error *ngIf="f.submitted && !password.valid && !username.valid">
            <span>{{error}}</span>
          </mat-error>
          <button class="btn btn-lg btn-primary btn-block" type="submit">{{trans('Login')}}
          </button>
          <div class="separator separator_login_page"></div>
          <h4 class="text-center">
            <p>{{trans('hintSignup')}}
              <a routerLink="/signup">{{trans('signup')}}</a>
            </p>
          </h4>
        </div>
      </form>
      </div>
    </div>
  </mat-card-content>
</mat-card>
