<div role="dialog" *transloco="let trans">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <app-addtask [currentSection]="SectionDefault.id"
        [currentProject]="DataChannelDefault.titleGroupTask" [currentSectionName]="SectionDefault.title"
        [colorProject]="DataChannelDefault.colorSpecs" [suggestOption]="true"
        [projectId]="DataChannelDefault.groupid" [flagModal]="true" *ngIf="SectionDefault"></app-addtask>
      </div>
      <div class="modal-bottom">
        <button type="button" id="add-task" class="btn btn-dark add-task"
                (click)="saveTask()">{{trans('buttonSave')}}</button>
        <button type="button" class="btn btn-light cancel-task"
                (click)="DiscardTask()">{{trans('ButtonCancel')}}</button>
      </div>
    </div>
  </div>
</div>
