.taskShowDescription {
  font-size: 12px;
  color: grey;
}

.taskShowtitle {
  font-size: 16px;
}

.date-text {
  font-size: 13px;
}

.date-label {
  margin-left: 5px;
}

.display-pinTask {
  width: 260px;
}
