<div class="display-pinTask">
  <div *ngFor="let task of displayData">
    <div class="task-detail" routerLink="project/{{task.data.groupid}}">
      <div class="taskShowtitle">{{task.data.title}}</div>
      <div class="taskShowDescription">{{task.data.description}}</div>
      <div class="date-text" [style.color]="task.overdue === true ? '#de4c4a':'#228B22'">
        <i class="bi bi-calendar2"></i>
        <label class="date-label">{{task.data.date.substring(4, 21)}}</label>
      </div>
    </div>
  </div>
</div>
