<div class="displayDay-Row-List" *transloco="let trans">
  <div class="sec-toolbar-display">
    <mat-toolbar class="custom-small-toolbar">
      <div class="header-custom">
        <div class="left-title" (click)="picker.open()">
          <input class="null-input" [(ngModel)]="datePicked" [matDatepicker]="picker" placeholder="Choose a date">
          <span class="Month-title-style">{{dayDisplay.Month}}</span>
          <span class="Year-title-style">{{dayDisplay.Year}}</span>
          <i class="bi bi-chevron-double-down icon-style"></i>
        </div>
        <mat-datepicker (closed)="PickedDate()" #picker></mat-datepicker>
        <div class="right-title">
          <button mat-button class="button-title-right" (click)="previousWeek()"><i class="bi bi-chevron-left"></i>
          </button>
          <button mat-button class="button-title-left" (click)="nextWeek()"><i class="bi bi-chevron-right"></i>
          </button>
          <button mat-button class="button-title">{{trans('Today')}}</button>
        </div>
      </div>
      <div class="custom-dayRoll">
        <div class="custom-day" *ngFor="let dayweek of DisplayRow">
          <div class="header-row">{{dayweek[0]}}</div>
          <div class="bottom-row">{{dayweek[1]}}</div>
        </div>
      </div>
    </mat-toolbar>
  </div>
  <div class="date-task" *ngFor="let day of datatask; index as i;">
    <div class="head-day-task">{{day.dayDetail}}</div>
    <div class="separator separator_task"></div>
    <div class="task-overdue" *ngFor="let task of day.listTask;index as indexnumber">
      <div class="task-style">
        <div class="checkZoneLeft">
          <div class="circle-finished-box" (mouseenter)="enterCheckAnimation(task.task.data.taskid)"
               (mouseleave)="leaveCheckAnimation()">
            <i class="bi bi-check-lg checkbox" (click)="TaskFinished(indexnumber,i,task.task.data.taskid)"
               *ngIf="checkfinished===true && locationcheckFinished=== task.task.data.taskid"></i>
          </div>
        </div>
        <div class="task-detail" (click)="DetailTask(i, indexnumber)">
          <div class="taskShowtitle">{{task.task.data.title}}</div>
          <div class="taskShowDescription">{{task.task.data.description}}</div>
          <div class="date-text-overdue">
            <i class="bi bi-calendar2"></i>
            <label class="date-label">{{task.task.data.date.substring(4, 11)}}</label>
          </div>
        </div>
        <div class="right-task">
          <div class="top-right-task">
            <mat-datepicker #pickerDate (opened)="onOpen()" (closed)="onClose()"></mat-datepicker>
            <input class="null-input" [matDatepicker]="pickerDate" [(ngModel)]="dateFinishTask"
                   placeholder="{{trans('HintChoseDate')}}">
            <div style="display: none">
              <div class="datepicker-footer" #datepickerFooter>
                <div class="separator separator_login_page"></div>
                <button class="btn btn-light AddTimeDate" [hidden]="CheckAddTimeTaskState" (click)="onclickAddTime()">
                  <label class="box-button-label">{{trans('AddTime')}}</label>
                  <i class="bi bi-plus"></i>
                </button>
                <div class="AddTime" [hidden]="!CheckAddTimeTaskState">
                  <div class="First-bottom-line">
                    <label>{{trans('TitleSetTime')}}</label>
                    <label class="Input-time-field">
                      <input class="SetTime" [(ngModel)]="TimeSetTaskFinish" placeholder="{{trans('HintSetTime')}}">
                    </label>
                  </div>
                  <div class="Second-bottom-line">
                    <button class="btn btn-light cancel-add-task"
                            (click)="cancelAddTime()">{{trans('ButtonCancel')}}</button>
                    <button class="btn btn-light save-task"
                            (click)="processFinishAddTask(pickerDate)">{{trans('buttonSave')}}</button>
                  </div>
                </div>
              </div>
            </div>
            <i class="bi bi-pencil-square first-icon-task" (click)="SelectEdits(i,indexnumber)"
               matTooltip="{{trans('HintEditTasks')}}"
               [matTooltipShowDelay]="900"></i>
            <i class="bi bi-eye-fill second-icon-task" (click)="DetailTask(i,indexnumber)"
               matTooltip="{{trans('HintSeeDetail')}}"
               [matTooltipShowDelay]="900"></i>
            <i class="bi bi-three-dots third-icon-task" matTooltip="{{trans('HintMoreAction')}}"
               [matTooltipShowDelay]="900"
               [matMenuTriggerFor]="MoreAction"></i>
          </div>
          <mat-menu #MoreAction="matMenu">
            <button class="menu-dropbox" mat-menu-item>
              <i class="bi bi-archive icon-dropdown"></i>
              <span class="style-label-menu-dropbox"
                    (click)="SelectEdits(i,indexnumber)">{{trans('ButtonEdits')}}</span>
            </button>
            <button class="menu-dropbox" mat-menu-item (click)="PinnedTask(task.task.data.id)">
              <i class="bi bi-pin icon-dropdown"></i>
              <span class="style-label-menu-dropbox">{{trans('ButtonPinned')}}</span>
            </button>
            <div class="section-Priority">
              <div class="label-menu-item-header">{{trans('Priority')}}</div>
              <div class="Select-Priority">
                <button mat-menu-item class="first-Priority" (click)="ChangePriority(task.task.data.taskid,4)">
                  <i class="bi bi-flag-fill"></i>
                </button>
                <button mat-menu-item class="second-Priority" (click)="ChangePriority(task.task.data.taskid,3)">
                  <i class="bi bi-flag-fill"></i>
                </button>
                <button class="third-Priority" mat-menu-item (click)="ChangePriority(task.task.data.taskid,2)">
                  <i class="bi bi-flag-fill"></i>
                </button>
                <button class="normal-Priority" mat-menu-item (click)="ChangePriority(task.task.data.taskid,0)">
                  <i class="bi bi-flag"></i>
                </button>
              </div>
            </div>
            <button class="menu-dropbox delete" mat-menu-item (click)="DeletedTask(task.task.data.taskid)">
              <i class="bi bi-trash2 icon-dropdown"></i>
              <span class="style-label-menu-dropbox">{{trans('ButtonDeleted')}}</span>
            </button>
          </mat-menu>
          <div class="bottom-right-task">
            <i class="bi bi-inbox-fill ColorInbox" *ngIf="task.task.data.colorSpecs === '#5297ff'"></i>
            <i class="color-circle color-add-Section" *ngIf="!(task.task.data.colorSpecs === '#5297ff')"
               [style.background-color]="task.task.data.colorSpecs"></i>
            <label class="box-button-label"
                   [style.color]="(task.task.data.colorSpecs === '#5297ff') ? '#5297ff':'#a970ff'">
              {{(task.task.data.titerGroupTask === 'Default Group') ? trans('DefaultGroup') : task.task.data.titerGroupTask}}
            </label>
          </div>
        </div>
      </div>
      <app-addtask *ngIf="LocationSelect == i && SectionSelect== indexnumber" [currentSection]="task.section.id"
                   [currentProject]="task.task.data.titerGroupTask" [currentSectionName]="task.section.title"
                   [exitsTask]="DataSelect" [suggestOption]="true"
                   [colorProject]="task.task.data.colorSpecs" [flagModal]="false">{{trans('Open')}}
      </app-addtask>
    </div>
    <div class="add-task" [hidden]="hideflag" (click)="getWhereDisplay(i)"
         (mouseenter)="enterAddTask(i)" (mouseleave)="outAddTask()">
      <div class="button-add-task" [style.background-color]="locationMouseTask === i ? '#E60023':'white'"
           [style.padding]="locationMouseTask === i ? '5px 0':'0'">
        <div class="zone-left">
          <div class="circle-add-task"
               [style.background-color]="'white'">
            <i class="bi bi-plus-lg plus-add-task"
               [style.color]="'#E60023'"></i>
          </div>
        </div>
        <span class="add-task-style-text"
              [style.color]="locationMouseTask === i ? 'white':'grey'">{{trans('ButtonAddTask')}}</span>
      </div>
    </div>
    <app-addtask *ngIf="hideflag===true && numbercheck==i" [currentSection]="DefaultSection.id"
                 [currentProject]="DefaultChannel.titleGroupTask" [currentSectionName]="DefaultSection.title"
                 [colorProject]="DefaultChannel.colorSpecs" [suggestOption]="false" [daySelect]="day.day"
                 [projectId]="DefaultChannel.groupid" [flagModal]="false">{{trans('Open')}}</app-addtask>
  </div>
  <div class="Footer-chart-Show">
    <ngx-charts-line-chart [showYAxisLabel]="true" [xAxis]="true" [yAxis]="true" [yAxisLabel]="yAxisLabel"
                           [scheme]="'neons'" [view]="view" [results]="upcomingTask" (select)="onSelect($event)"
                           maxXAxisTickLength="10"
                           (window:resize)="DynamicWidth($event)"></ngx-charts-line-chart>
  </div>
</div>
