.main-toolbar {
  background-color: #005ec1;
  position: inherit;
}

.color-sidebar {
  color: white;
  font-size: 24px;
}

.main-toolbar {
  height: 5%;
  min-height: 40px;
}

.Main-panel {
  height: 100%;
}

.main-container {
  height: 95%;
}

.main-sidenav-content {
  background-color: white;
}

.sidenav-list {
  width: 305px;
  padding-top: 30px;
  background-color: #fafafa;
}

.Text-item-label {
  font-size: 16px;
  padding: 10px;
}

.today-color, .inbox-color, .upcoming-color, .QuickAdd-color {
  font-size: 19px;
  font-weight: 400;
}

.today-color {
  color: #25b84c;
}

.inbox-color {
  color: #5297ff;
}

.upcoming-color {
  color: #a970ff;
}

.QuickAdd-color {
  color: #18278E;
}

.Font-main-check {
  font-weight: 700;
  padding: 10px;
  font-family: Segoe UI, serif !important;
}

.icon-project {
  transform: rotate(90deg);
  transition: 0.2s;
  display: inline-block;
}

.center-inside {
  width: 100%;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 95vh;
}

.openAddProject:hover {
  background-color: #e6e6e6;
}

.openAddProject {
  font-size: 17px;
  float: right;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.fast_fix_right {
  width: 100%;
}

.right-item {
  float: right;
}

.GraphWeekTask, .pin-message, .addTask {
  color: white;
  background-color: #1d5ebf;
  font-weight: 700;
  border: 0;
  margin-left: 10px;
  margin-right: 10px;
  width: 32px;
}

.right-exit {
  background-color: #1d5ebf;
  font-weight: 700;
  border: 0;
  margin-left: 8px;
  min-width: 100px;
}

.right-exit:hover, .GraphWeekTask:hover, .pin-message:hover, .addTask:hover {
  background-color: #4a7ecc;
}

.form-logout {
  font-size: 14px;
}

.color-circle {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin: 0 5px;
  display: inline-block;
}

.Detail-Project {
  display: inline-block;
  margin: 5px 0;
  width: 85%;
}

.label-channel {
  padding: 0 10px;
}

.end-line-dropbox {
  float: right;
  margin: 5px 5px 0 5px;;
  padding: 0 5px;
}

.dropboxEditsChannel {
  font-size: 16px;
  position: relative;
  display: inline-block;
}

.display-dropbox {
  display: none;
  transition-duration: 0.5s;
}

.button-dropbox {
  border: 0;
  padding: 0;
  background-color: #fafafa;
  border-radius: unset;
}

.close-style-label {
  width: 85%;
  display: inline-block;
}

.menu-dropbox {
  line-height: 24px;
  max-height: 28px;
  height: 28px;
  color: #808080;
}

.style-label-menu-dropbox {
  margin-left: 10px;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Apple Color Emoji, Helvetica,
  Arial, sans-serif, Segoe UI Emoji, Segoe UI Symbol;
}

.separator_menu {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  position: relative;
}

.icon-dropdown {
  font-size: 16px;
}

.delete:hover {
  color: red !important;
}

.list-project-item, .Project-label {
  font-size: 16px;
  padding-left: 35px;
}

.ZoneGraph {
  margin: 10px 30px;
}

.small-avatar {
  border-radius: 50%;
  border: 1px #202020 solid;
  height: 32px;
  width: 32px;
  max-height: 32px;
  max-width: 32px;
  margin-right: 8px;
}

.username-label {
  display: contents;
  color: #ffffff;
  font-size: 16px;
}

.order-select-user {
  display: grid;
}

.label-option, .label-option-language {
  margin: 0 8px;
  font-size: 15px;
}

.main-user-icon {
  font-size: 15px;
}

.option-menu-user, .option-menu-language {
  text-align: left;
}

.option-menu-language {
  margin: 3px 5px;
}

.main-menu, .language-menu {
  display: grid;
}

.label-option-language {
  width: 70px;
  max-width: 70px;
}

.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 30px;
  background-color: #353b48;
  border-radius: 15px;
  padding: 0 5px;
  float: left;
  display: flex;
  position: relative;
}

.search_input:focus {
  padding: 0 10px;
  width: 230px;
  caret-color: red;
  transition: width 0.18s linear;
}

.search_icon {
  background: #353b48;
  color: #818182;
}

.search_icon {
  height: 20px;
  width: 20px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 50px;
  caret-color: transparent;
  line-height: 10px;
  transition: width 0.22s linear;
}

.search-icon-detail {
  font-size: 15px;
  height: 20px;
}

.body-result, .footer-result {
  width: 250px;
  margin: 5px;
}

.dropdown-menu-search > .mat-menu-panel {
  background-color: #4f545c;
}

.ZonePin {
  margin: 5px 10px;
}

.homeHouse {
  color: white;
  font-size: 24px;
}

.ColorInbox {
  color: #5297ff;
  font-size: 16px;
  margin: 0 8px;
}

.left-content {
  text-align: center;
}

.Title, .description {
  word-wrap: break-word;
}

.Title {
  font-size: 16px;
  font-weight: 500;
}

.bottom-right {
  display: block ruby;
  text-align: right;
}

.data-content {
  color: white;
  display: flex;
  margin: 8px 0;
}

.right-result {
  width: 100%;
}

.default-width {
  width: 32px;
}

.mat-menu-content {
  scrollbar-width: none;
}

.mat-menu-content::-webkit-scrollbar {
  width: 1em;
}

.mat-menu-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.mat-menu-content::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.data-content:hover, .footer-result:hover {
  background-color: #42464d;
  border-radius: 5px;
}

.footer-result {
  text-align: left;
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 5px;
}

.AddTaskBackground {
  background-color: white;
}

.cdk-overlay-backdrop {
  background: rgba(0, 0, 0, .32);
}

.active {
  background-color: #eeeeee;
  font-weight: 600;
  border-radius: 5px;
}

.Item-label {
  margin-right: 15px;
  padding-left: 15px;
  margin-left: 20px;
}

.Item-label:hover, .Detail-Project:hover {
  font-weight: 600;
}

.button-add-task:hover {
  background-color: #36a3f7;
  color: white !important;
  border-radius: 5px;
}

.bottom-slide {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 250px;
}

.my-swiper {
  height: 100%;
}

.swiper-slide-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fafafa;
  height: 100%;
  max-width: 600px;
  margin: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
