<div class="Main-panel" *transloco="let trans">
  <mat-toolbar class="main-toolbar">
    <mat-toolbar-row>
      <button mat-icon-button class="icon-drawer-side" aria-label="Example icon-button with menu icon" type="button"
              mat-button (click)="drawer.toggle()">
        <i class="bi bi-justify color-sidebar"></i>
      </button>
      <button mat-icon-button class="ToHome" (click)="RouterToHome()">
        <i class="bi bi-house homeHouse"></i>
      </button>
      <div class="extra-left" [matMenuTriggerFor]="searchResult" (menuOpened)="changeColor()">
        <div class="searchbar">
          <input class="search_input" type="text" name="email" id="search"
                 placeholder="{{trans('Search')}}..." [(ngModel)]="dataSearch"
                 (keyup)="SearchResult(dataSearch)">
          <a class="search_icon">
            <i class="bi bi-search search-icon-detail" (click)="SearchResult(dataSearch)"></i>
          </a>
        </div>
      </div>
      <mat-menu #searchResult="matMenu" class="dropdown-menu-search" [style.background-color]="'#4f545c'">
        <div class="body-result">
          <div class="data-content" *ngFor="let result of searchResultData" routerLink="{{result.url}}">
            <div class="left-content">
              <div class="default-width"></div>
              <div *ngIf="result.description === null">
                <i class="bi bi-inbox-fill ColorInbox" *ngIf="result.colorSpecs === '#5297ff'"></i>
                <div class="color-circle" *ngIf="result.colorSpecs !== '#5297ff' && result.colorSpecs !== null"
                     [style.background-color]="result.colorSpecs"></div>
                <i class="bi bi-subtract" *ngIf="result.colorSpecs === null"></i>
              </div>
            </div>
            <div class="right-result">
              <div class="Search-data">
                <div class="Title">{{result.title}}</div>
                <div class="description" *ngIf="result.description !== null">{{result.description}}</div>
              </div>
              <div class="bottom-right" *ngIf="result.titleChannel !== null">
                <i class="bi bi-inbox-fill ColorInbox" *ngIf="result.colorSpecs === '#5297ff'"></i>
                <div class="color-circle" *ngIf="result.colorSpecs !== '#5297ff'"
                     [style.background-color]="result.colorSpecs"></div>
                <div class="label-title-channel" [style.color]="result.colorSpecs">{{result.titleChannel}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-result" *ngIf="searchResultData.length !== 0" routerLink="search/{{dataSearch}}">
          {{trans('ButtonShowMore')}}
        </div>
      </mat-menu>
      <div class="fast_fix_right">
        <div class="right-item">
          <button class="addTask" (click)="openAddTask()">
            <i class="bi bi-plus-circle-dotted"></i>
          </button>
          <button [matMenuTriggerFor]="graphTask" class="GraphWeekTask" (menuOpened)="isOpen()"
                  (menuClosed)="isCloseChart()" #chartMenuTrigger="matMenuTrigger">
            <i class="bi bi-graph-up"></i>
          </button>
          <mat-menu #graphTask="matMenu">
            <div class="ZoneGraph">
              <app-charts *ngIf="activechart=== true"></app-charts>
            </div>
          </mat-menu>
          <button class="pin-message" [matMenuTriggerFor]="pinTask" (menuOpened)="OpenActivePin()"
                  (menuClosed)="CloseActivePin()">
            <i class="bi bi-pin-angle-fill"></i>
          </button>
          <mat-menu #pinTask="matMenu" class="PinnedSection">
            <div class="ZonePin">
              <app-pintask *ngIf="activePin=== true"></app-pintask>
            </div>
          </mat-menu>
          <button class="right-exit" [matMenuTriggerFor]="menuUser" (click)="resetStep()">
            <img class="small-avatar" alt="" src="{{currentUser.image}}">
            <div class="username-label">{{currentUser.username}}</div>
          </button>
          <mat-menu #menuUser="matMenu">
            <div class="order-select-user">
              <div class="main-menu">
                <fieldset class="main-menu" *ngIf="menu ==1">
                  <button class="option-menu-user" mat-button (click)="next($event)">
                    <i class="bi bi-globe main-user-icon"></i>
                    <label class="label-option">{{trans('Language')}}</label>
                    <i class="bi bi-chevron-right"></i>
                  </button>
                  <button class="option-menu-user" mat-button (click)="openDetailUser()">
                    <i class="bi bi-gear-fill main-user-icon"></i>
                    <label class="label-option">{{trans('UserSetting')}}</label>
                  </button>
                  <div class="separator_menu"></div>
                  <button class="option-menu-user" mat-button (click)="exitButton()">
                    <i class="bi bi-box-arrow-in-right main-user-icon"></i>
                    <label class="label-option">{{trans('LogOut')}}</label>
                  </button>
                </fieldset>
              </div>
              <div class="language-menu">
                <fieldset class="language-menu" *ngIf="menu ==2">
                  <button class="header-menu-label" mat-button (click)="previous($event)">
                    <i class="bi bi-chevron-left"></i>
                    <label class="label-option">{{trans('Language')}}</label>
                  </button>
                  <div class="separator_menu"></div>
                  <button *ngFor="let language of LanguageList ; index as i" class="option-menu-language" mat-button
                          [style.color]="i===activeLanguageLocation? 'white':'#202020'"
                          [style.background-color]="i===activeLanguageLocation? '#9147ff':'white'"
                          (click)="changeLanguage(i)">
                    <label class="label-option-language">{{language}}</label>
                    <i class="bi bi-check-lg" [hidden]="!(i===activeLanguageLocation)"></i>
                  </button>
                </fieldset>
              </div>
            </div>
          </mat-menu>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-drawer-container class="main-container" autosize>
    <mat-drawer #drawer class="sidenav-list" mode="side" opened="{{StoreStateSide}}">
      <div class="Item-label" routerLink="project/{{DefaultIdChannel}}"
           [ngClass]="{'active': selectStatue==='DefaultGroup'}" (click)="SelectActive('DefaultGroup')">
        <i class="bi bi-inbox inbox-color"></i>
        <label class="Text-item-label">{{trans('DefaultGroup')}}</label>
      </div>
      <div class="Item-label" [ngClass]="{'active': selectStatue==='today'}" routerLink="today"
           (click)="SelectActive('today')">
        <i class="bi bi-calendar-minus today-color"></i>
        <label class="Text-item-label">{{trans('Today')}}</label>
      </div>
      <div class="Item-label" routerLink="upcoming" [ngClass]="{'active': selectStatue==='upcoming'}"
           (click)="SelectActive('upcoming')">
        <i class="bi bi-window-dock upcoming-color"></i>
        <label class="Text-item-label">{{trans('Upcoming')}}</label>
      </div>
      <div class="Item-label button-add-task" (click)="openAddTask()">
        <i class="bi bi-plus-circle-dotted QuickAdd-color"></i>
        <label class="Text-item-label">{{trans('QuickAdd')}}</label>
      </div>
      <div class="Total-label-project">
        <div class="Project-label">
          <div class="close-style-label" (click)="routeingProject()">
            <i class="bi bi-chevron-right icon-project"
               [ngStyle]="{transform:isDropDown ? 'rotate(90deg)': 'rotate(0deg)'}"></i>
            <label class="Font-main-check">{{trans('Projects')}}</label>
          </div>
          <i class="bi bi-plus-lg openAddProject" (click)="openAddModal()"></i>
        </div>
        <div class="all-list-project">
          <div class="list-project-item" *ngFor="let groupProject of ListDataGroup; index as i">
            <div class="Detail-Project" matTooltip="{{groupProject.titleGroupTask}}" matTooltipShowDelay="1500"
                 [ngClass]="{'active': selectStatue== i.toString()}"
                 routerLink="project/{{groupProject.groupid}}" *ngIf="isDropDown" (click)="SelectActive(i.toString())">
              <div class="color-circle" [style.background-color]="groupProject.colorSpecs"></div>
              <label class="label-channel">{{groupProject.titleGroupTask}}</label>
            </div>
            <div class="end-line-dropbox" *ngIf="isDropDown">
              <button class="button-dropbox" [matMenuTriggerFor]="menuProject"
                      (click)="DataProjectIdLocation(groupProject.groupid)">
                <i class="bi bi-three-dots dropboxEditsChannel"></i>
              </button>
              <mat-menu class="display-dropbox" #menuProject="matMenu">
                <button class="menu-dropbox" mat-menu-item (click)="openEditChannelModal()">
                  <i class="bi bi-pencil-fill icon-dropdown"></i>
                  <span class="style-label-menu-dropbox">{{trans('menuEditProject')}}</span>
                </button>
                <div class="separator separator_menu"></div>
                <button class="menu-dropbox" mat-menu-item>
                  <i class="bi bi-archive icon-dropdown"></i>
                  <span class="style-label-menu-dropbox">{{trans('menuArchiveProject')}}</span>
                </button>
                <button class="menu-dropbox delete" mat-menu-item>
                  <i class="bi bi-trash2 icon-dropdown"></i>
                  <span class="style-label-menu-dropbox"
                        (click)="DeleteGroupChannel()">{{trans('menuDeleteProject')}}</span>
                </button>
                <div class=""></div>
              </mat-menu>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-slide">
        <swiper [slidesPerView]="1" [autoplay]="{delay: 2500,disableOnInteraction: false}" [spaceBetween]="50"
                [navigation]="true" [pagination]="{ clickable: true }" [centeredSlides]="true" class="my-swiper">
          <ng-template swiperSlide *ngFor="let slide of imagePreview;index as i">
            <div class="swiper-slide-container">
              <img data-[src]="slide.image.thumbshot" class="swiper-lazy" (click)="clickImage(i)">
            </div>
          </ng-template>
        </swiper>
      </div>
    </mat-drawer>
    <mat-drawer-content class="main-sidenav-content">
      <div class="center-inside" [style.background-image]="'linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),' +
       'url('+imagebackground+')'">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="timer" [fullScreen]="true"><p
    style="color: white"> {{trans('LoadingLabel')}} </p></ngx-spinner>
</div>
